<if condition="! IS_AJAX">
<!doctype html>
<html>
<head>
<meta charset="utf-8">
<meta name="Robots" contect="none">
<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=yes"/>
<link rel="stylesheet" type="text/css" href="__ADMIN__/css/style.css" />
<style>
    .tableList em{color:orangered;font-style:normal;}
</style>
<script type="text/javascript" src="__VENDORS__/jquery/js/jquery.js"></script>
<script src="__COMMON__/js/lamson.js" id="LamSonJs" lang="zh-cn"
        data-controller="__CONTROLLER__" data-public="__PUBLIC__" data-urlmodel="{$Think.config.url_model}"></script>
<!--<script src="__COMMON__/js/lamson.js" id="LamSonJs" lang="zh-cn" data-controller="__CONTROLLER__" data-public="__PUBLIC__" data-urlmodel="{$Think.config.url_model}"></script>-->
</head>
<body>
<i class="hide">商品分类列表</i>
<form id="searchForm" method="get" data-noajax="1"><table><tr><td>关键字:<input type="text" name="keyword" value="{$Think.get.keyword}" /></td><td><button type="submit">搜 索</button></td></tr></table></form>
<div id="listBox">
</if>
	<table cellspacing="1" class="tableList">
		<thead>
			<tr>
				<th width="6%">ID</th>
				<th>商品分类名称</th>
				<th width="25%">商品发布状态</th>
				<th width="10%">商品属性分组</th>
				<th width="14%">操作</th>
			</tr>
		</thead>
		<tbody>
        <foreach name="data" item="v">
			<tr>
				<td>{$v['cat_id']}</td>
				<th>{:str_replace($_GET['keyword'],"<em>$_GET[keyword]</em>",$v['cat_name'])}</th>
				<td>{$v['enabled']?'启动':'禁用'}</td>
				<td>{$v['attr_group']}</td>
				<td nowrap="nowrap" class="mngCell"><a href="__CONTROLLER__/edit/cat_id/{$v.cat_id}"  class="oprnEdit">编辑</a>
                <a href="{:U('ajaxdelte',array('cat_id'=>$v['cat_id'],'nowpage'=>$Think.get.p))}" delId={$v['cat_id']} class="oprnDel" >删除</a></td>
    <!--            <a href="__CONTROLLER__/delete/cat_id/{$v.cat_id}" delId={$v['cat_id']} class="oprnDel"  onClick="return ms_del(this)" >删除</a></td>-->
			</tr>
        </foreach>
		</tbody>
		<tfoot>
			<tr ><td colspan="5" id="LamPageBar"><div class="pagination" style="float: right">{$pagelist}</div></td></tr>
		</tfoot>
	</table>
<script>
    $('.pagination a' ).click(function(){
        $.get(this.href,function(data){
            $('#listBox' ).html(data);
        });
        return false;
    })
</script>
<if condition="! IS_AJAX">
    </div>
<div id="loadImg"></div>
</body>
<script type="text/javascript" src="js/webadmin.js"></script>
<script type="text/javascript" src="__VENDORS__/jquery/js/jquery.pagination.js">
<script>
  /*  $(document).on('click','.pagination a',function(){
        alert(11);
        $.get(this.href,function(data){
            $('#listBox' ).html(data);
        });
        return false;
    });*/

    $(document).on('click','.oprnDel',function(){
        var cat_id=$(this).attr('delId');
        $.get('{:U("ajaxdel","cat_id="+cat_id)}',function(data){
             if(data==0){
                alert('删除失败');
            }
        });
    });
</script>
</html>
</if>
