<!DOCTYPE html><html lang="zh"><head data-base="/"> 
  <meta charset="UTF-8"> 
  <meta http-equiv="X-UA-Compatible" content="IE=edge"> 
  <meta name="renderer" content="webkit"> 
  <meta http-equiv="pragma" content="no-cache">
 <meta http-equiv="cache-control" content="no-cache,must-revalidate">
 <meta http-equiv="expires" content="Wed, 26 Feb 1997 08:21:57 GMT">
 <meta http-equiv="expires" content="0">
 <title>诺亚环保工程案例,家具行业VOC废气处理工程案例,废气处理工程案例</title>
<meta name="keywords" content="诺亚环保工程案例,家具行业VOC废气处理工程案例,废气处理工程案例">
<meta name="description" content="诺亚节能环保科技有限公司致力于研发节能咨询服务,锅炉系统节能,废水处理装置,粉尘处理装置，VOC废气处理装置等节能环保装置，咨询热线：0760-89889777。"> 
  <link href="__HOME__/css/reset.css" rel="stylesheet"> 
  <link href="__HOME__/css/laypage.css" rel="stylesheet"> 
  <link href="__HOME__/css/kind-editor-pub-reset.css" rel="stylesheet"> 
  <script src="__HOME__/js/nsw.pc.min.js"></script> 
 <script src="__HOME__/js/template-sub-domain.js"></script>
<link href="__HOME__/css/58ef1a7982ce717cec00a3b2.css" rel="stylesheet">

 <body> 
  <!--头部--> 
<div class="topWrap"> 
<include file="Public/header" />
  <!--广告--> 
  <div>
<div class="ty-banner-1">
    
        <a href="/article/GongChengAnLi3068.html" title="诺亚环保——现场系统诊断、量身定制解决方案">
            <img alt="诺亚环保——现场系统诊断、量身定制解决方案" src="__HOME__/picture/8b119ffbe26741fa8e0ec02d4f97da8b_83.jpg" title="迦南环保——现场系统诊断、量身定制解决方案">
        </a>
        
    
    
    
</div>
</div> 
  <div class="p4-search-1">
    <div class="blk-main">
        <div class="blk-md blk">
            <div class="p4-search-1-inp fr">
                <input class="p4-search-1-inp1" id="key" placeholder="请输入您要搜索的关键词" type="text">
                <input class="p4-search-1-inp2" onclick="searchInfo();" type="button">
            </div>
            <p>热门搜索产品：
                
                    <a href="/product/ChuChen.html" onclick="searchLink(this);" title="粉尘处理">粉尘处理</a>
                
                
                    <a href="/product/FeiShui.html" onclick="searchLink(this);" title="废水处理">废水处理</a>
                
                
                    <a href="/product/GuoLuXiTongJie.html" onclick="searchLink(this);" title="锅炉除尘设备">锅炉除尘设备</a>
                
                
                    <a href="/product/VOC.html" onclick="searchLink(this);" title="迦南环保废气处理">诺亚环保废气处理</a>
                
            </p>
        </div>
        
        <!-- CSS -->
        
    </div>
</div> 
  <!--产品详情--> 
  <div class="blk-main clearafter"> 
   <div class="blk-md"> 
    <div class="p4-curmbs-1 plc" navcrumbs="">  
    <dl>
        <dt>当前位置：</dt>
        <dd>
            <!--<nsw:breadcrumb symbol=" » " />-->
            <!--<a th:href="/${basePath}" title="首页">首页</a>-->
            
                 » <a href="/article/index.html" title="资讯频道">资讯频道</a>
            
            
                 » <a href="{:U('Article/anLi')}" title="工程案例">工程案例</a>
            
        </dd>
    </dl>
        
    
</div> 
    <div class="blk-sm fl"> 
     <div class="blk">
    <div class="p4-info-1">
        <h3 class="p4-titlel-1">工程案例<span></span><em></em></h3>
    </div>
    
</div> 
     <div class="blk">
    <div class="p4-info-list-content-1"> 
        <div class="p4-info-list-content-1-con">
            <foreach name="list" item="vo">
            <dl>
                <dt><a href="{:U('Article/anliDetail',array('id'=>$vo['id']))}" title="{$vo.title}">{$vo.title}</a></dt>
                <dd><p><span>发布时间：{$vo.pub_time|date='Y-m-d',###}</span>
                <i data-ellipsis="true" data-ellipsis-max-line="2">简介：{$vo.info}</i></p>
                    <em><a href="{:U('Article/anliDetail',array('id'=>$vo['id']))}" title="{$vo.title}">查看详情&gt;&gt;</a></em></dd>
            </dl>
            </foreach>
        </div>
        <div class="p4-page"></div>
    </div>
    <!-- CSS -->
    
    <script type="text/javascript">
        laypage({
            cont: $('.p4-page'),
            pages: 1,
            skip: false,
            skin: 'yahei',
            groups: 5,
            curr: 1,
            first: '首页',
            last: '尾页',
            prev: '上一页',
            next: '下一页',
            hash: true,
            jump: function(obj, flag) {

                var space = '0000';
                var num = obj.curr + '';
                if (space.length - num.length >= 0) {
                    var sapce = space.slice(0, space.length - num.length) + num;
                    if (!flag) {
                        var base =$('head').data('base'); 
 if( obj.curr == 1) {
                            window.location.href = base + 'article/GongChengAnLi3068' + '.html';
                        } else {

                            window.location.href = base + 'article/GongChengAnLi3068' + '_' + sapce + '.html'
                        }
                    }
                }
            }
        });
    </script>
</div> 
    </div> 
    <!-- CSS -->
    
</div> 
     <div class="blk">
    <div class="product-1">
        <h3 class="p4-titlel-1">热门推荐<span></span><em></em></h3>
        <div class="product-1-con">
            <if condition="empty($recom) neq true">
            <foreach name="recom" item="v">
                <dl>
                    <dt><a href="{:U('Product/detail',array('id'=>$v['id']))}" title="{$v.name}"><img alt="{$v.name}" src="{$v.imgpath}" title="{$v.name}"></a></dt>
                    <dd>
                        <p><a data-ellipsis="true" data-ellipsis-max-line="2" href="{:U('Product/detail',array('id'=>$v['id']))}" title="{$v.name}">{$v.name}</a></p></dd>
                </dl>
            </foreach>
            <else />
                <div class="nodata">正在更新中</div>
            </if>
        </div>
    </div>
    
</div> 
     <div class="blk">
    <div class="p4-contact-1">                  
        <h3 class="p4-titlel-2"><span>联系<i shortcustomername="">诺亚环保</i></span></h3>
        <div class="p4-contact-1-con">
            <p phone400="">18973133298</p>
            <ul>
                <li class="p4-contact-1-t2" fixedphonenum="">18973133298</li>
                <li class="p4-contact-1-t3"><a contactemail="" href="mailto:dott999@163.com">dott999@163.com</a></li>
                <li address="" class="p4-contact-1-t4">湖南省浏阳市高新区大安路海滨商业广场2栋301室</li>
            </ul>
        </div>
    </div>
    <!-- CSS -->
    
</div> 
    </div> 
   </div> 
  </div> 
  <include file="Public/footer" />