<!DOCTYPE html><html lang="zh"><head data-base="/"> 
  <meta charset="UTF-8"> 
  <meta http-equiv="X-UA-Compatible" content="IE=edge"> 
  <meta name="renderer" content="webkit"> 
  <meta http-equiv="pragma" content="no-cache">
 <meta http-equiv="cache-control" content="no-cache,must-revalidate">
 <meta http-equiv="expires" content="Wed, 26 Feb 1997 08:21:57 GMT">
 <meta http-equiv="expires" content="0">
 <title>诺亚环保-{$list.title}</title>
<meta name="keywords" content="{$list.title}">
<meta name="description" content="湖南省诺亚节能环保科技有限公司致力于研发节能咨询服务,锅炉系统节能,废水处理装置,粉尘处理装置，VOC废气处理装置等节能环保装置，咨询热线：0760-xxx"> 
  <link href="__HOME__/css/reset.css" rel="stylesheet"> 
  <link href="__HOME__/css/kind-editor-pub-reset.css" rel="stylesheet"> 
  <script src="__HOME__/js/nsw.pc.min.js"></script> 
  <link href="__HOME__/css/58ef1a7982ce717cec00a3c1.css" rel="stylesheet">
 <script src="__HOME__/js/template-sub-domain.js"></script></head> 
 <body> 
  <!--头部--> 
  <div class="topWrap"> 
  <include file="Public/header" /> 
  <!--广告--> 
  <div>
<div class="ty-banner-1">
    
        <a  title="诺亚环保——现场系统诊断、量身定制解决方案">
            <img alt="诺亚环保——现场系统诊断、量身定制解决方案" src="__HOME__/picture/8b119ffbe26741fa8e0ec02d4f97da8b_83.jpg" title="诺亚环保——现场系统诊断、量身定制解决方案" style="margin-left:-272.5px">
        </a>

</div>
</div> 
  <div class="p4-search-1">
    <div class="blk-main">
        <div class="blk-md blk">
            <p>热门搜索产品：
        <a href="{:U('Product/cate',array('cid'=>25))}" title="锅炉系统节能">锅炉系统节能</a><a href="{:U('Product/cate',array('cid'=>23))}" title="粉尘处理装置">粉尘处理装置</a><a href="{:U('Product/VOC')}" title="VOCs催化燃烧装置">VOCs催化燃烧装置</a>
            </p>
        </div>        
        <!-- CSS -->   
    </div>
</div> 
  <!--产品详情--> 
  <div class="blk-main clearafter"> 
   <div class="blk-md"> 
    <div class="p4-curmbs-1 plc" navcrumbs="">  
    <dl>
        <dt>当前位置：</dt>
        <dd>
            <!--<nsw:breadcrumb symbol=" » " />-->
            <!--<a th:href="/${basePath}" title="首页">首页</a>-->
            
                 » <a href="/article/index.html" title="资讯频道">资讯频道</a>
            
            
                 » <a href="{:U('Article/news')}" title="新闻百科">新闻百科</a>
            
            
                 » <a href="{:U('Article/newsDetail',array('id'=>$list['id']))}" title="{$list.title}">{$list.title}</a>
            
        </dd>
    </dl>
        
    
</div> 
    <div class="blk-sm fl"> 
     <div class="blk">
    <div class="p4-info-content-1">         
        <h3>{$list.title}</h3>
        <div class="p4-info-content-1-con">
            <div class="p4-info-content-1-tp">
                <div class="p4-info-content-1-t1">                    
                    本文来源：
                     
                    
                        {$list.form}
                    
                    
                    <!--浏览：<strong th:text="${data.clicks}">2</strong>    -->
                    发布日期：<strong>{$list.pub_time|date='Y-m-d',###}</strong>
                </div>
            </div>
            <div class="p4-info-content-1-txt endit-content">
                <div class="p4-info-content-1-t3"><em>文章导读</em><i>{$list.info}</i></div>       
                <div class="p4-info-content-1-t4"><p style="text-indent:2em;">
    {$list.detail|htmlspecialchars_decode=###}
</p>
<p align="left" class="img-block" style="text-indent:2em;text-align:left;">
    湖南省诺亚节能环保科技有限公司致力于研发节能咨询服务,锅炉系统节能,废水处理装置,粉尘处理装置，VOC废气处理</a>装置等节能环保装置，<span style="color:#FF0000;">咨询热线：0760-xxxxx</span>。
</p></div>            
            </div>
                     <!-- JiaThis Button BEGIN -->
            <div class="jiathis_style_32x32">
                <a class="jiathis_button_weixin"></a>
                <a class="jiathis_button_tsina"></a>
                <a class="jiathis_button_qzone"></a>
                <a class="jiathis_button_tqq"></a>
                <a class="jiathis jiathis_txt jiathis_separator jtico jtico_jiathis" href="http://www.jiathis.com/share" target="_blank"></a>
                <!--<a class="jiathis_counter_style"></a>-->
            </div>
            
            
            <script charset="utf-8" src="http://v3.jiathis.com/code/jia.js" type="text/javascript"></script>

        </div>
        <div class="p4-info-content-1-fy">   
            <div class="p4-info-content-1-fy-t1">
                 
            </div>
        </div>
    </div>
    <!-- CSS -->
    
    
</div>
 
     <div class="blk">
    <div class="p4-info-2">
        <h3 class="p4-titlel-1">相关文章<span></span><em></em></h3>
        
<!--         <ul>
            
            <li class="p4-info-2-t1">
                <strong><a href="/articles/JiaJuChangJiaVOCFeiQiChuLiGo.html" title="家具厂家VOC废气处理工程案例">家具厂家VOC废气处理工程案例</a></strong>
                <dl>
                    <dt><a href="/articles/JiaJuChangJiaVOCFeiQiChuLiGo.html" title="家具厂家VOC废气处理工程案例"><img alt="家具厂家VOC废气处理工程案例" src="/resource/images/f75445c15cfb4a8fb48cfa904d30fa5e_65.jpg" title="家具厂家VOC废气处理工程案例"></a></dt>
                    <dd><span>2017-04-25</span><p data-ellipsis="true" data-ellipsis-max-line="2" data-ellipsis-max-width="540">刘总与迦南节能环保合作已经长达5年之久，说到为什么会选择迦南节能环保，他的回答是：我只与自己志同道合的企业合作，因为他们是在用全身心做产品，让我们工厂的废气排放完全达到排放标准刘总与迦南节能环保合作已经长达5年之久，说到为什么会选择迦南节能环保，他的回答是：我只与自己志同道合的企业合作，因为他们是在用全身心做产品，让我们工厂的废气排放完全。</p>
                    <em><a href="/articles/JiaJuChangJiaVOCFeiQiChuLiGo.html" title="家具厂家VOC废气处理工程案例">查看详情&gt;&gt;</a></em>
                    </dd>
                </dl>
            </li>
            
            
            
            
            
            
            <li><a href="/articles/JiaJuShengChanChangVOCFeiQiC.html" title="家具生产厂VOC废气处理工程案例">家具生产厂VOC废气处理工程案例</a></li>
            
        </ul> -->
         
        <div class="nodata">正在更新中</div>
    </div>
    
</div> 
    </div> 
    <!-- CSS -->
    
</div> 
     <div class="blk">
    <div class="product-1">
        <h3 class="p4-titlel-1">热门推荐<span></span><em></em></h3>
        <div class="product-1-con">
            <if condition="empty($recom) neq true">
            <foreach name="recom" item="v">
                <dl>
                    <dt><a href="{:U('Product/detail',array('id'=>$v['id']))}" title="{$v.name}"><img alt="{$v.name}" src="{$v.imgpath}" title="{$v.name}"></a></dt>
                    <dd>
                        <p><a data-ellipsis="true" data-ellipsis-max-line="2" href="{:U('Product/detail',array('id'=>$v['id']))}" title="{$v.name}">{$v.name}</a></p></dd>
                </dl>
            </foreach>
            <else />
                <div class="nodata">正在更新中</div>
            </if>
        </div>
    </div>
    
</div> 
      
     <div class="blk">
    <div class="p4-contact-1">                  
        <h3 class="p4-titlel-2"><span>联系<i shortcustomername="">诺亚环保</i></span></h3>
        <div class="p4-contact-1-con">
            <p phone400="">18973133298</p>
            <ul>
                <li class="p4-contact-1-t2" fixedphonenum="">18973133298</li>
                <li class="p4-contact-1-t3"><a contactemail="" href="mailto:dott999@163.com">dott999@163.com</a></li>
                <li address="" class="p4-contact-1-t4">湖南省浏阳市高新区大安路海滨商业广场2栋301室</li>
            </ul>
        </div>
    </div>
    <!-- CSS -->
    
</div> 
    </div> 
   </div> 
  </div> 
<include file="Public/footer" />