 <!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>广州萌懂信息科技有限公司</title>
    <link rel="shortcut icon" href="favicon.ico"> <link href="__PUBLIC__/css/bootstrap.min.css" rel="stylesheet">
    <link href="__PUBLIC__/css/font-awesome.min.css" rel="stylesheet">
    <link href="__PUBLIC__/css/plugins/iCheck/custom.css" rel="stylesheet">
    <link href="__PUBLIC__/css/animate.min.css" rel="stylesheet">
    <link href="__PUBLIC__/css/style.min.css" rel="stylesheet">
</head>
<body class="gray-bg">
    <div class="wrapper wrapper-content animated fadeInRight">
        <div class="row">
            <div class="col-sm-12">
                <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <h5>专家列表</h5>
                    </div>
                    <div class="ibox-content">
                        <div class="ibox-content">
                            <form class="form-inline" role="form" method="get">
                                <div class="form-group">
                                    <p class="form-control-static">工号：</p>
                                </div>
                                <div class="form-group">
                                    <input type="text" name="id" class="form-control"placeholder="工号" value="{$Think.get.start}">
                                </div>
                                <div class="form-group">
                                    <p class="form-control-static">姓名：</p>
                                </div>
                                <div class="form-group">
                                    <input type="text" name="nickname" class="form-control" placeholder="姓名" value="{$Think.get.end}">
                                </div>
                                <div class="form-group">
                                    <p class="form-control-static">职位：</p>
                                </div>
                                <div class="form-group">
                                    <select class="form-control col-sm-5" name="level_id">
                                        <option value="">全部</option>
                                        <volist name="level" id="vo">
                                            <option value="{$vo.id}" <if condition="$Think.get.level_id eq $vo['id']">selected</if>>{$vo.name}</option>
                                        </volist>
                                    </select>
                                </div>
                                <button class="btn btn-primary" type="submit">查询</button>
                            </form>
                        </div>
                        <div class="table-responsive">
                            <table class="table table-striped">
                                <thead>
                                    <tr>
                                        <th>工号</th>
                                        <th>头像</th>
                                        <th>姓名</th>
                                        <th>联系方式</th>
                                        <th>职位</th>
                                        <th>客户数</th>
                                        <th>操作</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <foreach name="list" item="vo"> 
                                        <tr>
                                            <td>{$vo.id}</td>
                                            <td><img src="{$vo.cover}" width="50" height="50" alt=""></td>
                                            <td>{$vo.nickname}</td>
                                            <td>{$vo.tel}</td>
                                            <td>{$vo.level.name}</td>
                                            <td>{$vo.num}</td>
                                            <td>
                                                <a href="{:U('expert/view', array('id'=>$vo['id']))}">查看</a>
                                                <span>|</span>
                                                <a href="{:U('expert/edit', array('id'=>$vo['id']))}">编辑</a>
                                                <span>|</span>
                                                <a href="{:U('expert/del', array('id'=>$vo['id']))}">删除</a>
                                            </td>
                                        </tr>
                                    </foreach>
                                </tbody>
                            </table>
                        </div>

                    </div>
                </div>
            </div>

        </div>
    </div>
    <script src="__PUBLIC__/js/jquery.min.js"></script>
    <script src="__PUBLIC__/js/bootstrap.min.js"></script>
    <script src="__PUBLIC__/js/content.min.js"></script>
</body>
</html>