 <!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>广州萌懂信息科技有限公司</title>
    <link rel="shortcut icon" href="favicon.ico"> <link href="__PUBLIC__/css/bootstrap.min.css" rel="stylesheet">
    <link href="__PUBLIC__/css/font-awesome.min.css" rel="stylesheet">
    <link href="__PUBLIC__/css/animate.min.css" rel="stylesheet">
    <link href="__PUBLIC__/css/style.min.css" rel="stylesheet">
</head>
<body class="gray-bg">
    <div class="wrapper wrapper-content animated fadeInRight">
        <div class="row">
            <div class="col-sm-12">
                <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <h5>服务订单</h5>
                    </div>
                    <div class="ibox-content">
                        <div class="ibox-content">
                            <form class="form-inline" role="form" method="get">
                                <div class="form-group">
                                    <p class="form-control-static">日期:</p>
                                </div>
                                <div class="form-group">
                                    <input type="text" name="start" class="form-control layer-date" id="start" placeholder="开始时间" value="{$Think.get.start}" style="width:110px">
                                </div>
                                <div class="form-group">
                                    <p class="form-control-static">~</p>
                                </div>
                                <div class="form-group">
                                    <input type="text" name="end" class="form-control layer-date" id="end" placeholder="结束时间" value="{$Think.get.end}"  style="width:110px">
                                </div>
                                <div class="form-group">
                                    <p class="form-control-static">支付状态:</p>
                                </div>
                                <div class="form-group">
                                    <select class="form-control col-sm-5" name="pay_status">
                                        <option value="" <if condition="$Think.get.pay_status eq ''">selected</if>>全部</option>
                                        <option value="0" <if condition="$Think.get.pay_status eq 0">selected</if>>待付款</option>
                                        <option value="1" <if condition="$Think.get.pay_status eq 1">selected</if>>已付款</option>
                                    </select>
                                </div>
                                <div class="form-group">
                                    <p class="form-control-static">订单号:</p>
                                </div>
                                <div class="form-group">
                                    <input type="text" name="order_sn" class="form-control" placeholder="订单号" value="{$Think.get.order_sn}">
                                </div>
                                <div class="form-group">
                                    <p class="form-control-static">客户姓名:</p>
                                </div>
                                <div class="form-group">
                                    <input type="text" name="username" class="form-control" placeholder="客户姓名" value="{$Think.get.username}">
                                </div>
                                <button class="btn btn-primary" type="submit">查询</button>
                            </form>
                        </div>
                        <div class="table-responsive">
                            <table class="footable table table-striped">
                                <thead>
                                    <tr>
                                        <th>日期</th>
                                        <th>订单号</th>
                                        <th>联系方式</th>
                                        <th>客户名称</th>
                                        <th>支付状态</th>
                                        <th>服务专家</th>
                                        <th>服务名称</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <if condition="$list">
                                        <foreach name="list" item="vo"> 
                                            <tr>
                                                <td>{$vo.add_time|date="Y-m-d",###}</td>
                                                <td>{$vo.order_sn}</td>
                                                <td>{$vo.mobile}</td>
                                                <td>{$vo.username}</td>
                                                <td>
                                                    <if condition="$vo['pay_status']">已支付<else />待付款</if>
                                                </td>
                                                <td><if condition="$vo['expert_id']">{$vo.expert.nickname}<else />未分配</if></td>
                                                <td>{$vo.service.title}</td>
                                            </tr>
                                        </foreach>
                                    <else />
                                        <tr>
                                            <td colspan="8">暂无数据</td>
                                        </tr>
                                    </if>
                                </tbody>
                                <tfoot>
                                    <tr>
                                        <td colspan="8">
                                            {$page}
                                        </td>
                                    </tr>
                                </tfoot>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="modal-form" class="modal fade" aria-hidden="true">
        
    </div>
    <script src="__PUBLIC__/js/jquery.min.js"></script>
    <script src="__PUBLIC__/js/bootstrap.min.js"></script>
    <script src="__PUBLIC__/js/content.min.js"></script>
    <script src="__PUBLIC__/js/plugins/layer/laydate/laydate.js"></script>
    <script type="text/javascript">
        laydate({elem:"#start",event:"focus"});
        laydate({elem:"#end",event:"focus"});
    </script>
</body>
</html>