 <!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>广州萌懂信息科技有限公司</title>
    <link rel="shortcut icon" href="favicon.ico"> <link href="__PUBLIC__/css/bootstrap.min.css" rel="stylesheet">
    <link href="__PUBLIC__/css/font-awesome.min.css" rel="stylesheet">
    <link href="__PUBLIC__/css/plugins/iCheck/custom.css" rel="stylesheet">
    <link href="__PUBLIC__/css/animate.min.css" rel="stylesheet">
    <link href="__PUBLIC__/css/style.min.css" rel="stylesheet">
</head>
<body class="gray-bg">
    <div class="wrapper wrapper-content animated fadeInRight">
        <div class="row">
            <div class="col-sm-12">
                <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <h5>自定义菜单</h5>
                    </div>
                    <div class="ibox-content">
                        <div class="row">
                            <div class="col-sm-4 m-b-xs">
                                <a href="{:U('wechat/addMenu')}" class="btn btn-default" type="button"><i class="fa fa-plus"></i> 添加菜单</a>
                                <a href="{:U('wechat/upMenu')}" class="btn btn-primary " type="button"><i class="fa fa-upload"></i>&nbsp;&nbsp;<span class="bold">生成菜单</span>
                                </a>
                            </div>
                        </div>
                        <div class="table-responsive">
                            <table class="table table-striped">
                                <thead>
                                    <tr>
                                        <th>菜单名称</th>
                                        <th>菜单类型</th>
                                        <th>跳转链接</th>
                                        <th>操作</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <foreach name="menu" item="vo"> 
                                        <tr>
                                            <td>{$vo.html}{$vo.name}</td>
                                            <td>
                                                <if condition="$vo['type'] eq 'scancode_push'">扫码推事件<else/>跳转URL</if>
                                            </td>
                                            <td>{$vo.url}</td>
                                            <td>
                                                <a href="{:U('wechat/editMenu', array('id'=>$vo['id']))}">修改</a>
                                                <span>|</span>
                                                <a href="{:U('wechat/delMenu', array('id'=>$vo['id']))}">删除</a>
                                            </td>
                                        </tr>
                                    </foreach>
                                </tbody>
                            </table>
                        </div>

                    </div>
                </div>
            </div>

        </div>
    </div>
    <script src="__PUBLIC__/js/jquery.min.js"></script>
    <script src="__PUBLIC__/js/bootstrap.min.js"></script>
    <script src="__PUBLIC__/js/plugins/peity/jquery.peity.min.js"></script>
    <script src="__PUBLIC__/js/content.min.js"></script>
    <script src="__PUBLIC__/js/plugins/iCheck/icheck.min.js"></script>
    <script>
        $(document).ready(function(){$(".i-checks").iCheck({checkboxClass:"icheckbox_square-green",radioClass:"iradio_square-green",})});
    </script>
</body>
</html>