<!DOCTYPE html>
<html>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>服装管理</title>
    <link rel="shortcut icon" href="favicon.ico"> <link href="__PUBLIC__/css/bootstrap.min.css" rel="stylesheet">
    <link href="__PUBLIC__/css/font-awesome.min.css" rel="stylesheet">
    <link href="__PUBLIC__/css/animate.min.css" rel="stylesheet">
    <link href="__PUBLIC__/css/style.min.css" rel="stylesheet">
    <link href="__PUBLIC__/css/fileupload/jquery.fileupload-ui.css" rel="stylesheet">
    <link href="__PUBLIC__/css/fileupload/jquery.fileupload.css" rel="stylesheet">
    <style type="text/css">
/*    #thelist{overflow:hidden;}
    .btns{clear:both;}*/
    #album-list{ padding: 20px 0px 20px  0%;}
    #album-list li{float: left; width: 20%;text-align: center;border:1px solid #ccc;max-height: 200px;overflow: hidden;margin-right: 10px;border-radius: 5px;padding:10px;}
    #album-list li img{width: 100%;max-height: 150px;}
    #album-list li p{ padding: 10px 0px;}
    em{color: red};
    </style>
    <script src="__PUBLIC__/js/jquery.min.js"></script>
    <script src="__PUBLIC__/js/bootstrap.min.js"></script>
    <script src="__PUBLIC__/js/content.min.js"></script>
    <script src="__PUBLIC__/js/plugins/layer/layer.js"></script>
    <script src="__PUBLIC__/js/plugins/layer/laydate/laydate.js"></script>
    <script src="__PUBLIC__/js/fileupload/jquery.ui.widget.js"></script>
    <script src="__PUBLIC__/js/fileupload/jquery.fileupload.js"></script>
    <script src="__PUBLIC__/js/fileupload/jquery.iframe-transport.js"></script>
    <script type="text/javascript">
        $(function(){
         var num=$('.copy').size(); 
         $('.now_num').html('共'+num+'种类型');
         //JS获取上传文件的绝对路径
          $("#weixin_image").fileupload({  
            url: '__CONTROLLER__/uploadImg',  
            sequentialUploads: true  
            }).bind('fileuploadprogress', function (e, data) {  
                var progress = parseInt(data.loaded / data.total * 100, 10);  
                $("#weixin_progress").css('width',progress + '%');  
                $("#weixin_progress").html(progress + '%');  
            }).bind('fileuploaddone', function (e, data) {  
                console.log(11+data.result)
                $('#imgpath').val(data.result);
                $("#weixin_show").attr("src",data.result);  
                $("#weixin_upload").css({display:"none"});  
                $("#weixin_cancle").css({display:""});  
            }); 
            laydate({elem:"#starts",event:"focus"});
        })
    </script>
</head>
<body class="gray-bg">
    <div class="wrapper wrapper-content animated fadeInRight">
        <div class="row">
            <div class="col-sm-12">
                <div class="ibox float-e-margins">
                    <div class="ibox-title" >
                        <h5>编辑订单
                    </div>
                    <div class="ibox-content">
                        <form method="post" class="form-horizontal" id="masterForm" action="?" enctype="multipart/form-data" >
                            <input type="hidden" name="order_id" value="{$list.order_id}">
                            <input type="hidden" id="imgpath" name="imgpath" value=""></input>
                            <div class="form-group">
                                <label class="col-sm-2 control-label"><em>*</em>产品款号</label>
                                <div class="col-sm-4">
                                    <input type="text" placeholder="此项必须填写" class="form-control" name="order_style_number" value="{$list.order_style_number}">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label"><em>*</em>产品款式</label>
                                <div class="col-sm-4">
                                   <input type="text"  placeholder="此项必须填写" class="form-control" name="order_category" value="{$list.order_category}">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label"><em>*</em>下单日期</label>
                                <div class="col-sm-4">
                                    <input type="text" placeholder="此项必须填写" name="order_date" class="form-control" id="start"  value="{$list.order_date}">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label"><em>*</em>成本价</label>
                                <div class="col-sm-4">
                                    <input type="text" class="form-control" name="order_allmoney" value="{$list.order_allmoney}">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label"><em>*</em>下单数</label>
                                <div class="col-sm-4">
                                    <input type="text" disabled="disabled" class="form-control" name="order_total" value="{$list.order_total}">
                                </div>
                            </div>
                         <foreach name="detail" item="vo">  
                            <div class="copy" data="{$vo.detail_id}">
                            <div class="hr-line-dashed"></div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label"><em>*</em>颜色</label>
                                <div class="col-sm-4" >
                                    <input type="text" disabled="disabled"  class="form-control" style="width:30%;background-color: #FFF" name="detail_color[]" value="{$vo.detail_color}">
                                </div> 
                                <img src="__PUBLIC__/img/cancel.png" onclick="mydelete(this)" data="{$vo.detail_id}" style="position:relative;left: -20%;height: 22px;width: 22px;cursor: pointer;" value="X">
                            </div>           
                            <div class="form-group">
                             <label class="col-sm-2 control-label"><em>*</em>尺码</label>
                                <div class="col-sm-4">
                                    <input type="text" disabled="disabled"  class="form-control" style="width:30%;background-color: #FFF" name="detail_size[]" value="{$vo.detail_size}">
                                </div>       
                            </div>
                            <div class="form-group">
                            <label class="col-sm-2 control-label"><em>*</em>下单数(首:{$vo.first})</label>
                                <div class="col-sm-4">
                                    <input type="text" onblur="return changetotal(this)" class="form-control" style="width:30%" name="detail_total[]" value="{$vo.detail_total}">
                                </div>
                            </div>    
                            </div> 
                            </foreach>
                            <div class="hr-line-dashed"></div>
                            <div class="form-group">
                                <label class="col-md-2 control-label now_num">共0种类型</label>
                                <label class="col-sm-2 control-label"></label>
                                <a href="/Admin/Order/dateDetail/order_id/{$list.order_id}">查看出货详情</a>
                                <span>|</span>
                                <a style="margin-left: 10px" href="/Admin/Order/redoRecord/order_id/{$list.order_id}">查看返单记录</a>

                            </div> 
                            <div class="hr-line-dashed"></div> 
                         <!-- 图片添加 -->
                           <div class="form-group">
<!--                                 <label class="col-md-2 control-label">图片</label>
                                <input name="img"  type="file" ></input>
                            </div>  
                            <div class="form-group showimg">
                                <div class="col-md-4">
                    <img style="margin-left: 53%" src="/Public/uploads/Order/{$list.order_pic}" />
                                </div>
                            </div> -->
                            <label class="col-md-2 control-label">图片</label>
<div class="row fileupload-buttonbar" style="padding-left:15px;">  
<div class="thumbnail col-sm-6">  
<img id="weixin_show" style="height:280px;margin-top:10px;margin-bottom:8px;"  src="{$list.order_pic}" data-holder-rendered="true">  
<div class="progress progress-striped active" role="progressbar" aria-valuemin="10" aria-valuemax="100" aria-valuenow="0"><div id="weixin_progress" class="progress-bar progress-bar-success" style="width:0%;"></div></div>  
<div class="caption" align="center">  
<span id="weixin_upload" class="btn btn-primary fileinput-button">  
<span>选择上传</span>  
<input type="file" id="weixin_image" name="weixin_image" multiple>
</span>  
<a id="weixin_cancle" href="javascript:void(0)" class="btn btn-warning" role="button" onclick="cancleUpload(this)" style="display:none">删除</a>  
</div>  
</div>  
</div> 


                            <div class="form-group">
                                <label class="col-md-2 control-label">添加时间</label>
                                <div class="col-md-4">
                                    <input type="text" disabled="readonly" name="order_addtime" class="form-control" value="{:date('Y-m-d H:i:s',$list['order_addtime'])}">
                                </div>
                            </div>    
                            <div class="hr-line-dashed"></div>
                            <div class="form-group">
                                <div class="col-sm-4 col-sm-offset-2">
                                    <button class="btn btn-primary" type="submit">保存内容</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script type="text/javascript">
    $('[name="order_zhensuo"]').val([{$list.order_zhensuo}]);
    $('[name="order_paper"]').val([{$list.order_paper}]);
    $('[name="order_xiuyin"]').val([{$list.order_xiuyin}]);
    $('[name="order_designer"]').val([{$list.order_designer}]);
    $('[name="order_logo"]').val([{$list.order_logo}]);
    laydate({elem:"#start",event:"focus"});
    function mydelete(obj)
    {
        if(confirm('确认删除该条颜色尺码记录吗?')){
            var did=$(obj).attr('data');
            var oid={$list.order_id};
            var $copy=$(obj).parent().parent('.copy')
            $.post("{:U('Admin/ZhenzhiOrder/delDetail')}",{did:did,oid:oid},function(data){
                if(data==1){
                    $copy.remove();
                }else{
                    layer.msg('删除失败,请重试');
                }
            })
        }else{
            return false;
        }
        
    }
    function addtotal()
    {
        var alltotal=parseFloat($('[name="order_fmoney"]').val())+parseFloat($('[name="order_mfmoney"]').val())
        $('[name="order_allmoney"]').val(alltotal);
        console.log(alltotal);
    }

    function getfilepath(obj){
        $('.showimg').hide();
    }
    function ajax_upload(){
        $('.masterForm').submit();
    }
    function cancleUpload(obj){
        //console.log()
        var path=$('#weixin_show').attr('src');
        $.post("{:U('/Admin/ZhenzhiOrder/delimg')}",{path:path},function(data){
            if(data==1){
                layer.msg('删除成功');
                $('#weixin_show').attr('src',"{$list.order_pic}");
                $("#weixin_upload").css({display:""});  
                $("#weixin_cancle").css({display:"none"}); 
                $('#imgpath').val('');
            }else{
                layer.msg('删除失败,请重试');
            }
        })
    } 
    function changetotal(obj){
        //console.log('val'+$(obj).val()+'.....'+$(obj).parents('.copy').attr('data'))
        var id=$(obj).parents('.copy').attr('data');
        var total=$(obj).val();
        $.post("{:U('/Admin/ZhenzhiOrder/ajaxChangeTotal')}",{id:id,total:total},function(data){
            //console.log(data);return false
            if(data==1){
                var data=$('input[name="detail_total[]"]');
                var ltotal=0;
                $(data).each(function(k,v){
                    ltotal+=parseInt($(v).val());
                })
                $('input[name="order_total"]').val(ltotal);
                var order_id={$list.order_id};
                $.post("{:U('Admin/ZhenzhiOrder/ajaxAllTotal')}",{order_id:order_id,total:ltotal},function(data){
                    if(data==1){
                        layer.msg('裁床数已更新');
                    }
                })
            }else if(data==2){
                return false;
            }else{
                layer.msg('修改失败,请重试');
            }
        })
    }   
    </script>
</body>
</html>