    <div class="footer" style="background:url(__HOME__/images/ftbg.jpg) no-repeat center 0; "> 
 <div class="content fshw"> 
  <div class="leftfooter"> 
   <a href="/" title="xx环保"><img src="__HOME__/picture/8b119ffbe26741fa8e0ec02d4f97da8b_17.jpg"></a>
   <p>诺亚环保科技有限公司 版权所有</p> 
   <div class="dltb">
    <dl>
     <dt>
      <img src="__HOME__/picture/teld.jpg">
     </dt>
     <dd>
      18973133298
     </dd>
    </dl> 
    <dl>
     <dt>
      <img src="__HOME__/picture/qqtb.jpg">
     </dt>
     <dd>
    dott999@163.com
     </dd>
    </dl> 
    <dl>
     <dt>
      <img src="__HOME__/picture/cz.jpg">
     </dt>
     <dd>
     18973133298
     </dd>
    </dl> 
    <dl>
     <dt>
      <img src="__HOME__/picture/qq.jpg">
     </dt>
     <dd>
      455652424
     </dd>
    </dl> 
    <dl class="last">
     <dt>
      <img src="__HOME__/picture/dh.jpg">
     </dt>
     <dd>
      湖南省浏阳高新区大安路海滨商业广场2栋301室
     </dd>
    </dl> 
    <div class="clear"></div> 
    <span> 百度统计 备案号：<a href="http://www.miitbeian.gov.cn/" target="_blank">暂无</a></span> 
    <p><img alt="诺亚环保" src="__HOME__/picture/43f83a3cfcce4082a97361924f3e455c_28.jpg" style="width:25%;height: 100%" title="诺亚环保"></p> 
   </div> 
  </div> 
 </div> 
 <div class="fnav"> 
  <div class="content fla"> 
  
     <a href="{:U('Help/about')}">关于诺亚</a>

     <a href="{:U('Product/VOC')}">VOCS催化燃烧装置</a>

     <a href="{:U('Home/Product/cate/cid/23')}">湿法静电除尘器</a>

     <a href="{:U('Article/Anli')}">解决方案</a>

     <a href="{:U('Product/index')}">产品中心</a>

  </div> 
 </div> 
</div>

<script src="__HOME__/js/form.js" type="text/javascript"></script>  
    <div class="rightorder">
    <div class="liywz">
        <h3>在线留言</h3>
        <span>马上留言，预约现场诊断</span>
    </div>
    <form class="form-horizontal" id="intentionalOrderFormId" action="{:U('Help/form')}" method="POST" name="intentionalOrderForm">
        <ul class="findrow">
            <li class="li01" id="contactsName"><span>姓 名：</span><input class="inp1" value="" name="username" type="text">*</li>
            <li class="li02" id="contactsPhone"><span>电话：</span><input class="inp2" value="" name="tel" type="text">*</li>
            <li class="li03" id="contactsMail"><span>邮 箱：</span><input class="inp3" value="" name="email" type="text">*</li>
            <li class="li04" id="content"><span>我要留言：</span><textarea class="inp4" value="" name="content"></textarea></li>
            <li class="li05" id=""> <input class="btn1" onclick="return mysubmit()" > <button class="btn2 reset" type="reset"></button> </li>
        </ul>
    </form>
</div> 
   </div> 
  </div> 
  <div class="clear"></div> 
  <div class="client-2">
    <ul id="client-2">
        <li class="my-kefu">
            <div class="my-kefu-tel-main">
                <div class="my-kefu-left">
                        <i></i>
                        <p>QQ咨询</p>
                    </a>
                </div>
                <div class="my-kefu-tel-right" phone="">455652424</div>
            </div>
        </li>
        <!-- <li class="my-kefu-qq">-->
        <!--    <div class="my-kefu-main">-->
        <!--        <div class="my-kefu-left">-->
        <!--            <a class="online-contact-btn" target="_blank" th:href="'http://wpa.qq.com/msgrd?v=3&uin='+${data.items[0].children[0].serverType.name=='QQ'?data.items[0].children[0].serverType.content:''} +'&site=qq&menu=yes'" th:if="${ not #lists.isEmpty(data.items) and #lists.size(data.items)>0 and not #lists.isEmpty(data.items[0].children)  and #lists.size(data.items[0].children)>0 and  not #strings.isEmpty(data.items[0].children[0].serverType)}">-->
        <!--                <i></i>-->
        <!--                <p>QQ咨询</p>-->
        <!--            </a>-->
        <!--        </div>-->
        <!--        <div class="my-kefu-right">--> 
<!--        </div>-->
        <!--    </div>-->
        <!--</li>-->
        <li class="my-kefu-tel">
            <div class="my-kefu-tel-main">
                <div class="my-kefu-left">
                    <i></i>
                    <p>移动电话</p>
                </div>
                <div class="my-kefu-tel-right" phone400="">18973133298</div>
            </div>
        </li>
        <li class="my-kefu-weixin">
            <div class="my-kefu-main">
                <div class="my-kefu-left">
                    <i></i>
                    <p>微信扫一扫</p>
                </div>
                <div class="my-kefu-right"> 
</div>
                <div class="my-kefu-weixin-pic">
                    <img src="__HOME__/picture/43f83a3cfcce4082a97361924f3e455c_28.jpg">
                </div>
            </div>
        </li>
        <li class="my-kefu-ftop">
            <div class="my-kefu-main">
                <div class="my-kefu-left">
                    <a href="javascript:;">
                        <i></i>
                        <p>返回顶部</p>
                    </a>
                </div>
                <div class="my-kefu-right"> 
</div>
            </div>
        </li>
    </ul>
</div> 
<script src="__HOME__/js/58eeed9cac308f46e8138354.js" type="text/javascript"></script>
<script>  var sysBasePath = null ;var projPageData = {};</script>
<script src="__HOME__/js/public.js"></script>
<script type="text/javascript">
    function mysubmit(){
        data=$('#intentionalOrderFormId').serializeArray()
        $.post("{:U('Home/Help/form')}",{data:data},function(res){
            console.log(res);
            if(res==1){
                alert('留言成功，我们会联系您!');
                $('.reset').click();
                location.reload();
            }else{
                alert('留言失败，请稍后再试!');
            }
        })
        //console.log(data);
    }
</script>
  </body>
</html>
