<div class="header"> 
  <div class="h_top"> 
   <span class="fr"> <a class="sc" href="javascript:addFavorite2();" rel="sidebar">收藏本站</a> 
                     <a class="dt" href="/sitemap.html" target="_blank" title="网站地图">网站地图</a> 
                     <a class="ly" href="/Tools/leaveword.html" title="在线留言">在线留言</a>
  </span> 欢迎进入诺亚节能环保科技有限公司官网! 
  </div> 
  <div class="h_nr"> 
   <div class="h_logo"> 
    <span class="fl"><a href="/" title="迦南环保"><img alt="迦南环保" src="__HOME__/picture/8b119ffbe26741fa8e0ec02d4f97da8b_3.jpg"></a></span> 
    <div class="pj fl"> 
     <h1><img alt="" src="__HOME__/picture/topfline.jpg"></h1> 
    </div> 
    <div class="pz fl"> 
     <h2> <b class="g1">国家高新技术企业认定</b> <b class="g2">节能环保解决系统专业提供商</b> </h2> 
    </div> 
   </div> 
   <div class="h_lx fr">
    全国服务热线：
    <span>0760-xxxx</span>
   </div> 
  </div> 
 </div> 
 <div class="clear"></div> 
 <div class="h_nav"> 
  <div class="content menu" style="display: flex;justify-content: center;"> 
   <ul> 
   <li>
       <a href="{:U('Index/index')}" title="迦南首页">迦南首页</a>
</li> 
   <li>
       <a href="{:U('Product/VOC')}" title="VOC废气处理装置">VOC装置</a>
</li>  
   <li>
       <a href="{:U('Product/index')}" title="产品中心">产品中心</a>
</li> 
   <li>
       <a href="{:U('Article/anLi')}" title="工程案例">工程案例</a>
</li> 
   <li>
       <a href="{:U('Product/zengzhi')}" title="增值服务">增值服务</a>
</li> 
   <li>
       <a href="{:U('Article/news')}" title="新闻·百科">新闻·百科</a>
</li> 
   <li>
       <a href="{:U('Help/about')}" title="关于诺亚">关于诺亚</a>
</li> 
   <li>
       <a href="{:U('Help/connect')}" title="联系诺亚">联系诺亚</a>
</li>
   </ul> 
  </div> 
 </div> 
  
</div>
