<!DOCTYPE html>
<html>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>广州萌懂信息科技有限公司</title>
    <link rel="shortcut icon" href="favicon.ico"> <link href="__PUBLIC__/css/bootstrap.min.css" rel="stylesheet">
    <link href="__PUBLIC__/css/font-awesome.min.css" rel="stylesheet">
    <link href="__PUBLIC__/css/animate.min.css" rel="stylesheet">
    <link href="__PUBLIC__/css/style.min.css" rel="stylesheet">
    <style type="text/css">
    #album-list{ padding: 20px 0px 20px  0%;}
    #album-list li{float: left; width: 20%;text-align: center;border:1px solid #ccc;max-height: 200px;overflow: hidden;margin-right: 10px;border-radius: 5px;padding:10px;}
    #album-list li img{width: 100%;max-height: 150px;}
    #album-list li p{ padding: 10px 0px;}

    </style>
</head>
<body class="gray-bg">
    <div class="wrapper wrapper-content animated fadeInRight">
        <div class="row">
            <div class="col-sm-12">
                <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <h5>解答用户咨询</h5>
                    </div>
                    <div class="ibox-content">
                        <form method="post" id="submit" class="form-horizontal" action="?">
                            <input type="hidden" name="id" value="{$data.id}">
                            <input type="hidden" name="rid" value="{$data.reply.id}">
                            <div class="form-group">
                                <label class="col-sm-2 control-label">用户昵称:</label>
                                <div class="col-sm-10" style="margin-top: 7px">
                                    {$data.user.nickname}
                                </div>
                            </div>
                            <div class="hr-line-dashed"></div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label">问题类型</label>
                                <div class="col-sm-10">
                                    <select class="form-control m-b" name="category">
                                        <option value="0">请选择问题类型</option>
                                        <foreach name="category" item="vo">
                                            <option value="{$vo.cid}">{$vo.cname}</option>
                                        </foreach>
                                    </select>
                                </div>
                            </div>
                            <div class="hr-line-dashed"></div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label">问题内容:</label>
                                <div class="col-sm-10" style="margin-top: 7px">
                                    <textarea style="width: 80%;height:200px;border:1px solid #fff">{$data.content}</textarea>
                                </div>
                            </div>
                          <div class="hr-line-dashed"></div>
                              <div class="form-group">
                                <label class="col-sm-2 control-label">解答问题</label>
                                <div class="col-sm-10">
                                    <textarea style="width:80%;height:200px" name="solute" style="height:200px">{$data.reply.reply_content}</textarea>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-sm-4 col-sm-offset-2">
                                    <button class="btn btn-primary" type="button" onclick="save()">保存</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="__PUBLIC__/js/jquery.min.js"></script>
    <script src="__PUBLIC__/js/bootstrap.min.js"></script>
    <!-- 
    <script src="__PUBLIC__/js/ueditor/ueditor.config.js"></script>
    <script src="__PUBLIC__/js/ueditor/ueditor.all.js"></script> -->
    <script type="text/javascript">
        // UEDITOR_CONFIG.allowDivTransToP = false;
        // UEDITOR_CONFIG.maximumWords= 1000000000
        // // var ue = UE.getEditor('content');
        $('[name="category"]').val([{$data.category}])
        function save()
        {
            if($('[name="category"]').val()==0){
                alert('请选择问题类型');
                return false;
            }else if($('[name="solute"]').val()==''){
                alert('请填写回答');
                return false;
            }
            $('#submit').submit();
        }
    </script>
</body>
</html>