<!DOCTYPE html><html lang="zh"><head data-base="/"> 
  <meta charset="UTF-8"> 
  <meta http-equiv="X-UA-Compatible" content="IE=edge"> 
  <meta name="renderer" content="webkit"> 
  <meta http-equiv="pragma" content="no-cache">
 <meta http-equiv="cache-control" content="no-cache,must-revalidate">
 <meta http-equiv="expires" content="Wed, 26 Feb 1997 08:21:57 GMT">
 <meta http-equiv="expires" content="0">
 <title>{$name.category_name}-诺亚环保</title>
<meta name="keywords" content="VOC废气处理装置,粉尘处理装置,废水处理装置">
<meta name="description" content="湖南省诺亚节能环保科技有限公司致力于研发VOC废气处理装置,粉尘处理装置,废水处理装置等节能环保设备，咨询热线：xxxx-xxxx"> 
  <link href="__HOME__/css/reset.css" rel="stylesheet"> 
  <link href="__HOME__/css/laypage.css" rel="stylesheet"> 
  <link href="__HOME__/css/kind-editor-pub-reset.css" rel="stylesheet"> 
  <script src="__HOME__/js/nsw.pc.min.js"></script> 
  <link href="__HOME__/css/58ef1a7982ce717cec00a3b0.css" rel="stylesheet">
 <script src="__HOME__/js/template-sub-domain.js"></script></head> 
 <body> 
  <!--头部--> 
  <div class="topWrap"> 
  <include file="Public/header" />
  <!--广告--> 
  <div>
<div class="ty-banner-1">
    
        <a href="/product/VOC.html" title="VOC废气处理装置，解决大流量、低浓度有机废气处理装置">
            <img alt="VOC废气处理装置，解决大流量、低浓度有机废气处理装置" src="/resource/images/8b119ffbe26741fa8e0ec02d4f97da8b_50.jpg" title="VOC废气处理装置，解决大流量、低浓度有机废气处理装置">
        </a>
        
    
    
    
</div>
</div> 
  <div class="p4-search-1">
    <div class="blk-main">
        <div class="blk-md blk">
            <div class="p4-search-1-inp fr">
                <input class="p4-search-1-inp1" id="key" placeholder="请输入您要搜索的关键词" type="text">
                <input class="p4-search-1-inp2" onclick="searchInfo();" type="button">
            </div>
            <p>热门搜索产品：
                
                    <a href="/product/ChuChen.html" onclick="searchLink(this);" title="粉尘处理装置">粉尘处理装置</a>
                
                
                    <a href="/product/VOC.html" onclick="searchLink(this);" title="VOC废气处理装置">VOC废气处理装置</a>
                
                
                    <a href="/product/FeiShui.html" onclick="searchLink(this);" title="废水处理装置">废水处理装置</a>
                
                
                    <a href="/product/GuoLuXiTongJie.html" onclick="searchLink(this);" title="锅炉系统节能">锅炉系统节能</a>
                
                
                    <a href="/product/JieNenZiXunFu.html" onclick="searchLink(this);" title="节能咨询服务">节能咨询服务</a>
                
            </p>
        </div>
        
        <!-- CSS -->
        
    </div>
</div> 
  <!--产品详情--> 
  <div class="blk-main clearafter"> 
   <div class="blk-md"> 
    <div class="p4-curmbs-1 plc" navcrumbs="">  
    <dl>
        <dt>当前位置：</dt>
        <dd>
            <!--<nsw:breadcrumb symbol=" » " />-->
            <!--<a th:href="/${basePath}" title="首页">首页</a>-->
            
                 » <a href="{:U('Home/Product/index')}" title="产品频道">产品频道</a>
            
            
                 » <a href="{:U('Product/cate',array('cid'=>$name['category_id']))}" title="{$name}">{$name.category_name}</a>
            
        </dd>
    </dl>
        
    
</div> 
    <div class="blk-sm fl"> 
     <div class="blk">
    <div class="p4-product-3">
        <h3 class="p4-titlel-1">推荐产品<span></span><em></em></h3>
        <div class="p4-prod-showcase-img">
            
                <dl>
                    <dt><a href="/products/VOCFeiQiChuLiZhuangZhi.html" title="VOC废气处理装置"><img alt="VOC废气处理装置" src="/resource/images/b122fa90ecd441f19d8d3a4b24e80e03_3.jpg" title="VOC废气处理装置"></a></dt>
                    <dd><span><a href="/products/VOCFeiQiChuLiZhuangZhi.html" title="VOC废气处理装置">VOC废气处理装置</a></span>
                        <div class="p4-prod-showcase-img-t1" data-ellipsis="true" data-ellipsis-max-line="4" data-ellipsis-max-width="400">应用场景：涂装、印刷、家电、制鞋、塑料及各种化工车间装置特点：1、适合大流量，低浓度有机废气处理；2、净化率高，最终产物为无害的CO2与H2O，无二次污染；3、系统稳定性、适应性好，在浓度与气速频繁波动情况下能稳定运行。</div><em><a href="/products/VOCFeiQiChuLiZhuangZhi.html" title="VOC废气处理装置">查看详情&gt;&gt;</a></em></dd>
                </dl>
            
            
                <dl>
                    <dt><a href="/products/HuoXingTanXiFuNongSuoCuiHuaR.html" title="锅炉系统节能装置"><img alt="锅炉系统节能装置" src="/resource/images/b122fa90ecd441f19d8d3a4b24e80e03_41.jpg" title="锅炉系统节能装置"></a></dt>
                    <dd><span><a href="/products/HuoXingTanXiFuNongSuoCuiHuaR.html" title="锅炉系统节能装置">锅炉系统节能装置</a></span>
                        <div class="p4-prod-showcase-img-t1" data-ellipsis="true" data-ellipsis-max-line="4" data-ellipsis-max-width="400">应用场景：涂装、印刷、家电、制鞋、塑料及各种化工车间装置特点：1、适合大流量，低浓度有机废气处理；2、净化率高，最终产物为无害的CO2与H2O，无二次污染；3、系统稳定性、适应性好，在浓度与气速频繁波动情况下能稳定运行。</div><em><a href="/products/HuoXingTanXiFuNongSuoCuiHuaR.html" title="锅炉系统节能装置">查看详情&gt;&gt;</a></em></dd>
                </dl>
            
            
                <dl>
                    <dt><a href="/products/ShiFaJingDianChu.html" title="粉尘处理装置"><img alt="粉尘处理装置" src="/resource/images/b122fa90ecd441f19d8d3a4b24e80e03_23.jpg" title="粉尘处理装置"></a></dt>
                    <dd><span><a href="/products/ShiFaJingDianChu.html" title="粉尘处理装置">粉尘处理装置</a></span>
                        <div class="p4-prod-showcase-img-t1" data-ellipsis="true" data-ellipsis-max-line="4" data-ellipsis-max-width="400">工作原理：向电场空间输送直流负高压，通过空间气体电离，烟气中粉尘颗粒和雾滴颗粒荷电后在电场力的作用下，移动到收尘极板(集电极)，从而被收集在收尘极表面，通过收集烟气中的雾滴颗粒，在收尘极表面形成溢流而将粉尘冲洗到灰斗(水灰斗)中。经济效应：1、能耗小、运行费用低；2、维护工作量很小；3、可在户外安全使用，使用寿命长。</div><em><a href="/products/ShiFaJingDianChu.html" title="粉尘处理装置">查看详情&gt;&gt;</a></em></dd>
                </dl>
            
        </div>
        <div class="p4-prod-showcase-dd">
            <ul>
                
                    <li class="cur"></li>
                
                
                    <li></li>
                
                
                    <li></li>
                
            </ul>
        </div>
    </div>
    <!-- CSS -->
    
    
</div> 
     <div class="blk">
    <div class="p4-prod-list-content-1">
        <h3 class="p4-titlel-1">{$name.category_name}<span></span><em></em></h3>
        
        <div class="p4-prod-list-content-1-con">
            <if condition="empty($data) neq true">
            <ul>
                <foreach name="data" item="vo">
                    <li><a href="{:U('Product/detail',array('id'=>$vo['id']))}" title="{$vo.name}"><img alt="{$vo.name}" src="{$vo.imgpath}" title="{$vo.name}"></a><span><a href="{:U('Product/detail',array('id'=>$vo['id']))}" title="{$vo.name}">{$vo.name}</a></span>
                    </li>
                </foreach>
            </ul>
            <else />
                <div class="nodata">正在更新中</div>
            </if>
            
        </div>
        <div class="p4-page"></div>
    </div>
    <!-- CSS -->
    
    <script type="text/javascript">
        laypage({
            cont: $('.p4-page'),
            pages: 1,
            skip: false,
            skin: 'yahei',
            groups: 5,
            curr: 1,
            first: '首页',
            last: '尾页',
            prev: '上一页',
            next: '下一页',
            hash: true,
            jump: function(obj, flag) { 
var space = '0000';
                var num = obj.curr + '';
                if (space.length - num.length >= 0) {
                    var sapce = space.slice(0, space.length - num.length) + num;
                    if (!flag) {
                        var base =$('head').data('base'); 
 if( obj.curr == 1) {
                            window.location.href = base + 'product/VOC' + '.html';
                        } else { 
window.location.href = base + 'product/VOC' + '_' + sapce + '.html'
                        }
                    }
                }
            }
        });
    </script>
</div> 
    </div> 
    <div class="blk-xs fr"> 
     <div class="blk">
    <div class="p4-left-nav-2">
        <h3 class="p4-titlel-2"><span>诺亚环保产品中心</span></h3>
        <div class="p4-left-nav-2-con" navvicefocus=""> 
            <foreach name="list[0]" item="id1">
                <h4><a href="{:U('Product/cate',array('cid'=>$cate[$id1]['category_id']))}" title="{$cate[$id1]['category_name']}">{$cate[$id1]['category_name']}</a></h4>
                <dl>
                    <foreach name="list[$id1]" item="id2">
                        <dt><a href="{:U('Product/cate',array('cid'=>$cate[$id2]['category_id']))}" title="{$cate[$id2]['category_name']}">{$cate[$id2]['category_name']}</a></dt>
                        <dd>
                          <foreach name="list[$id2]" item="id3">
                            <p><a href="{:U('Product/cate',array('cid'=>$cate[$id3]['category_id']))}" title="{$cate[$id3]['category_name']}">{$cate[$id3]['category_name']}</a></p>
                          </foreach>
                        </dd>
                    </foreach>
                    
                </dl>
            </foreach>
        </div>
    </div>
    <!-- CSS -->
    
</div> 
     <div class="blk">
    <div class="p4-contact-1">                  
        <h3 class="p4-titlel-2"><span>联系<i shortcustomername="">诺亚环保</i></span></h3>
        <div class="p4-contact-1-con">
            <p phone400="">18973133298</p>
            <ul>
                <li class="p4-contact-1-t2" fixedphonenum="">18973133298</li>
                <li class="p4-contact-1-t3"><a contactemail="" href="mailto:dott999@163.com">dott999@163.com</a></li>
                <li address="" class="p4-contact-1-t4">湖南省浏阳市高新区大安路海滨商业广场2栋301室</li>
            </ul>
        </div>
    </div>
    <!-- CSS -->
    
    </div> 
    </div> 
   </div> 
  </div> 
<include file="Public/footer" /> 