<!DOCTYPE html><html lang="zh"><head data-base="/"> 
  <meta charset="UTF-8"> 
  <meta http-equiv="X-UA-Compatible" content="IE=edge"> 
  <meta name="renderer" content="webkit"> 
  <meta http-equiv="pragma" content="no-cache">
 <meta http-equiv="cache-control" content="no-cache,must-revalidate">
 <meta http-equiv="expires" content="Wed, 26 Feb 1997 08:21:57 GMT">
 <meta http-equiv="expires" content="0">
 <title>管理节能顾问培训,节能环保管理,节能规划-诺亚环保</title>
<meta name="keywords" content="管理节能顾问培训,节能环保管理,节能规划">
<meta name="description" content="湖南省诺亚节能环保科技有限公司是一家专业的节能环保解决方案提供商，业务包括管理节能顾问培训,节能环保管理,节能规划等，咨询热线：0760-xxxxx"> 
   <link href="__HOME__/css/reset.css" rel="stylesheet"> 
  <link href="__HOME__/css/laypage.css" rel="stylesheet"> 
  <link href="__HOME__/css/kind-editor-pub-reset.css" rel="stylesheet"> 
  <script src="__HOME__/js/nsw.pc.min.js"></script> 
 <script src="__HOME__/js/template-sub-domain.js"></script>
  <script src="__HOME__/js/form.js" type="text/javascript"></script> 
   <link href="__HOME__/css/58ef1a7982ce717cec00a3b0.css" rel="stylesheet">

 <body> 
  <!--头部--> 
<div class="topWrap"> 
<include file="Public/header" />
  <!--广告--> 
  <div>
<div class="ty-banner-1">
    
        <a href="/product/JieNenZiXunFu.html" title="诺亚环保——节能环保解决系统提供商">
            <img alt="诺亚环保——节能环保解决系统提供商" src="__HOME__/picture/8b119ffbe26741fa8e0ec02d4f97da8b_88.jpg" title="迦南环保——节能环保解决系统提供商">
        </a>
        
   
    
    
</div>
</div> 
  <div class="p4-search-1">
    <div class="blk-main">
        <div class="blk-md blk">
            <div class="p4-search-1-inp fr">
                <input class="p4-search-1-inp1" id="key" placeholder="请输入您要搜索的关键词" type="text">
                <input class="p4-search-1-inp2" onclick="searchInfo();" type="button">
            </div>
            <p>热门搜索产品：
                
                    <a href="/product/ChuChen.html" onclick="searchLink(this);" title="粉尘处理装置">粉尘处理装置</a>
                
                
                    <a href="/product/VOC.html" onclick="searchLink(this);" title="VOC废气处理装置">VOC废气处理装置</a>
                
                
                    <a href="/product/FeiShui.html" onclick="searchLink(this);" title="废水处理装置">废水处理装置</a>
                
                
                    <a href="/product/GuoLuXiTongJie.html" onclick="searchLink(this);" title="锅炉系统节能">锅炉系统节能</a>
                
                
                    <a href="/product/JieNenZiXunFu.html" onclick="searchLink(this);" title="节能咨询服务">节能咨询服务</a>
                
            </p>
        </div>
        
        <!-- CSS -->
        
    </div>
</div> 
  <!--产品详情--> 
  <div class="blk-main clearafter"> 
   <div class="blk-md"> 
    <div class="p4-curmbs-1 plc" navcrumbs="">  
    <dl>
        <dt>当前位置：</dt>
        <dd>
            <!--<nsw:breadcrumb symbol=" » " />-->
            <!--<a th:href="/${basePath}" title="首页">首页</a>-->
            
                 » <a href="/product/index.html" title="产品频道">产品频道</a>
            
            
                 » <a href="{:U('Product/zengzhi')}" title="节能咨询服务">节能咨询服务</a>
            
        </dd>
    </dl>
        
    
</div> 
    <div class="blk-sm fl"> 
     <div class="blk">
    <div class="p4-product-3">
        <h3 class="p4-titlel-1">推荐产品<span></span><em></em></h3>
        <div class="p4-prod-showcase-img">
            <foreach name="recom" item="vo">
                <dl>
                    <dt><a href="{:U('Product/detail',array('id'=>$vo['id']))}" title="{$vo.name}"><img alt="{$vo.name}" src="{$vo.imgpath}" title="{$vo.name}" style="width: 369px;height: 213px"></a></dt>
                    <dd><span><a href="{:U('Product/detail',array('id'=>$vo['id']))}" title="{$vo.name}">{$vo.name}</a></span>
                        <div class="p4-prod-showcase-img-t1" data-ellipsis="true" data-ellipsis-max-line="4" data-ellipsis-max-width="400">{$vo.used}</div><em><a href="{:U('Product/detail',array('id'=>$vo['id']))}"  title="{$vo.name}">查看详情&gt;&gt;</a></em></dd>
                </dl>
            </foreach>
        </div>
        <div class="p4-prod-showcase-dd">
            <ul>
                
                    <li class="cur"></li>
                
                
                    <li></li>
                
                
                    <li></li>
                
            </ul>
        </div>
    </div>
    <!-- CSS -->
    
    
</div> 
     <div class="blk">
    <div class="p4-prod-list-content-1">
        <h3 class="p4-titlel-1">节能咨询服务<span></span><em></em></h3>
        
        <div class="p4-prod-list-content-1-con">
            
            <div class="nodata">正在更新中</div>
        </div>
        <div class="p4-page"></div>
    </div>
    <!-- CSS -->
    
    <script type="text/javascript">
        laypage({
            cont: $('.p4-page'),
            pages: 1,
            skip: false,
            skin: 'yahei',
            groups: 5,
            curr: 1,
            first: '首页',
            last: '尾页',
            prev: '上一页',
            next: '下一页',
            hash: true,
            jump: function(obj, flag) { 
var space = '0000';
                var num = obj.curr + '';
                if (space.length - num.length >= 0) {
                    var sapce = space.slice(0, space.length - num.length) + num;
                    if (!flag) {
                        var base =$('head').data('base'); 
 if( obj.curr == 1) {
                            window.location.href = base + 'product/JieNenZiXunFu' + '.html';
                        } else { 
window.location.href = base + 'product/JieNenZiXunFu' + '_' + sapce + '.html'
                        }
                    }
                }
            }
        });
    </script>
</div> 
    </div> 
    <div class="blk-xs fr"> 
     <div class="blk">
    <div class="p4-left-nav-2">
        <h3 class="p4-titlel-2"><span>诺亚环保产品中心</span></h3>
        <div class="p4-left-nav-2-con" navvicefocus=""> 
            <foreach name="list[0]" item="id1">
                <h4><a href="{:U('Product/cate',array('cid'=>$cate[$id1]['category_id']))}" title="{$cate[$id1]['category_name']}">{$cate[$id1]['category_name']}</a></h4>
                <dl>
                    <foreach name="list[$id1]" item="id2">
                        <dt><a href="{:U('Product/cate',array('cid'=>$cate[$id2]['category_id']))}" title="{$cate[$id2]['category_name']}">{$cate[$id2]['category_name']}</a></dt>
                        <dd>
                          <foreach name="list[$id2]" item="id3">
                            <p><a href="{:U('Product/cate',array('cid'=>$cate[$id3]['category_id']))}" title="{$cate[$id3]['category_name']}">{$cate[$id3]['category_name']}</a></p>
                          </foreach>
                        </dd>
                    </foreach>
                    
                </dl>
            </foreach>
        </div>
    </div>
    <!-- CSS -->
    
</div> 
     <div class="blk">
    <div class="p4-contact-1">                  
        <h3 class="p4-titlel-2"><span>联系<i shortcustomername="">迦南环保</i></span></h3>
        <div class="p4-contact-1-con">
            <p phone400="">0760-88340777</p>
            <ul>
                <li class="p4-contact-1-t1" contactphonenumber="">13802666418</li>
                <li class="p4-contact-1-t2" fixedphonenum="">0760-89889777</li>
                <li class="p4-contact-1-t3"><a contactemail="" href="mailto:184075264@qq.com">184075264@qq.com</a></li>
                <li address="" class="p4-contact-1-t4">中山市石岐区博爱二路第一城蓝宝路3幢69号</li>
            </ul>
        </div>
    </div>
    <!-- CSS -->
    
</div> 
    </div> 
   </div> 
  </div> 
  <include file="Public/footer" />