<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{$user.nickname}-妈咪研究院</title>
    <link rel="shortcut icon" href="favicon.ico">
    <link href="__PUBLIC__/css/bootstrap.min.css" rel="stylesheet">
    <link href="__PUBLIC__/css/font-awesome.min.css" rel="stylesheet">
    <link href="__PUBLIC__/css/animate.min.css" rel="stylesheet">
    <link href="__PUBLIC__/css/style.min.css" rel="stylesheet">
    <style type="text/css">
        .report-title{
            padding: 15px 10px;
            margin: 10px 0px;
            background: #1ab394;
            color: #fff;
            border-radius: 3px
        }
        .report-title h5{
            display: inline;
            font-size: 16px;
        }
        .report-title input{
            color: #333;
        }
        .product .product-form{
            padding: 15px 0;

            margin-bottom: 20px;
        }
        .r_product{
            padding: 15px;
            margin-top: 15px;
            background: #f4f4f4;
            border-radius: 5px;
            -webkit-border-radius:5px;
            -moz-border-radius:5px;
        }
        .uhd{
            margin-bottom: 20px;
            border-top: 4px solid #e7eaec;
            padding: 10px ;
            background: #fff
        }
        .uhd img{
            display: block;
            float: left;
            margin-right: 10px;
        }
        .uhdinfo{float: left;}
        .uhdinfo h1{
            margin-top:0px;
            font-size: 16px;
        }
        .hr-line-dashed{line-height:100%;padding:0;margin:5px;}
        .col-md-2{text-align:left;}
        .s_button{
            position: fixed;
            z-index: 999;
            right: 3px;
            top:190px;
            width:50px;
            background-color: rgb(26, 179, 148);
            height: 25px;
            line-height: 25px;
            font-size: 14px;
            color: #f1fbf4;
            text-align: center;
            cursor:pointer;
        }
        select:focus{
            border-color: rgb(26, 179, 148);;
            outline: 0;
        }
        .s_select{
            border: 1px solid #e5e6e7;
        }
    </style>
</head>
<body class="gray-bg">

<!--浮动按钮  eisen-->
<div class="s_button" id="s_button">提交</div>

<div class="wrapper wrapper-content animated fadeInRight">


<form id="s_form" action="{:U('template/addall')}" method="post">

<div class="uhd col-sm-12 clearfix" style="margin: 0 auto;">
    <div class="col-md-2" style="width: 7.666%;margin-left: -9px;">
        <label class="control-label">方案名</label>
    </div>
    <div class="col-md-4">
        <input  type="text" name="title" class="form-control" value="">
    </div>
    <div class="col-md-2" style="width: 7.666%;margin-left: -9px;">
        <label class="control-label">说明</label>
    </div>
    <div class="col-md-4">
        <input  type="text" name="desc" class="form-control" value="">
    </div>
    <!--<div class="col-md-10">-->
        <!---->
    <!--</div>-->
</div>
<div class="row">

<div class="col-sm-8 pt20" style="width: 57.667%;">
<div class="ibox float-e-margins">
<div class="ibox-title">
    <h5>配置方案</h5>
</div>
<div class="ibox-content">

<div class="product">
    <div class="form-horizontal product-form">
        <div class="report-title">
            <h5>宝爸</h5>
        </div>
            <div class="r_product">
                <p style="text-align:right"><a href="javascript:;" title="删除产品" class="fa fa-close" onclick="delProduct(this,0)"></a></p>
                <div class="clearfix">
                    <div class="col-md-2">
                        <label class="control-label">产品</label>
                    </div>
                    <div class="col-md-10">
                        <select class="form-control" name="f[product][]" onchange="change('f','{$report.id}',this)">
                            <foreach name="product" item="vo">
                                <option  value="{$vo.id}" <if condition="$vo['id'] eq $report['product_id']">selected</if>>{$vo.title}（{$vo.category.cname}）</option>
                            </foreach>
                        </select>
                    </div>
                </div>
                <div class="hr-line-dashed"></div>
                <div class="clearfix">
                    <div class="col-md-2">
                        <label class="control-label">保险公司</label>
                    </div>
                    <div class="col-md-4">
                        <input id="f-company-{$report.id}" type="text" name="f[company][]" class="form-control" value="{$p['company']}">
                    </div>
                    <div class="col-md-2">
                        <label class="control-label">产品性质</label>
                    </div>
                    <div class="col-md-4">
                        <input id="f-property-{$report.id}" type="text" name="f[property][]" class="form-control" value="{$p['property']}">
                    </div>
                </div>
                <div class="hr-line-dashed"></div>
                <div class="clearfix">
                    <div class="col-md-2">
                        <label class="control-label">保障期限</label>
                    </div>
                    <div class="col-md-4">
                        <input id="f-limit-{$report.id}" type="text" name="f[limit][]" class="form-control" value="{$p['limit']}">
                    </div>
                    <div class="col-md-2">
                        <label class="control-label">缴费时期</label>
                    </div>
                    <div class="col-md-4">
                        <input id="f-payment-{$report.id}" type="text" name="f[payment][]" class="form-control" value="{$p['payment']}">
                    </div>
                </div>
                <div class="hr-line-dashed"></div>
                <div class="clearfix">
                    <div class="col-md-2">
                        <label class="control-label">保额</label>
                    </div>
                    <div class="col-md-4">
                        <input id="f-insured-{$report.id}" type="text" name="f[insured][]" class="form-control" value="{$p['insured']}">
                    </div>
                    <div class="col-md-2">
                        <label class="control-label">保费</label>
                    </div>
                    <div class="col-md-4">
                        <input id="f-premium-{$report.id}" type="text" name="f[premium][]" class="form-control" value="{$p['premium']}">
                    </div>
                </div>
                <div class="hr-line-dashed"></div>
                <div class="clearfix">
                    <div class="col-md-2">
                        <label class="control-label">产品说明</label>
                    </div>
                    <div class="col-md-10">
                        <textarea id="f-desc-{$report.id}" name="f[desc][]" id="text" class="form-control" style="height:120px;">{$p['desc']}</textarea>
                    </div>
                </div>
            </div>

    </div>
    <button class="btn btn-default addProduct" data-rid="f" type="button"><i class="fa fa-plus"></i> 添加产品</button>
</div>

<div class="report-title">
    <h5>宝妈</h5>
</div>
<div class="product">
    <div class="form-horizontal product-form">
            <div class="r_product">
                <p style="text-align:right"><a href="javascript:;" title="删除产品" class="fa fa-close" onclick="delProduct(this,0)"></a></p>
                <div class="clearfix">
                    <div class="col-md-2">
                        <label class="control-label">产品</label>
                    </div>
                    <div class="col-md-10">
                        <select class="form-control" name="m[product][]" onchange="change('m','{$report.id}',this)">
                            <foreach name="product" item="vo">
                                <option value="{$vo.id}" <if condition="$vo['id'] eq $report['product_id']">selected</if>>{$vo.title}（{$vo.category.cname}）</option>
                            </foreach>
                        </select>
                    </div>
                </div>
                <div class="hr-line-dashed"></div>
                <div class="clearfix">
                    <div class="col-md-2">
                        <label class="control-label">保险公司</label>
                    </div>
                    <div class="col-md-4">
                        <input id="m-company-{$report.id}" type="text" name="m[company][]" class="form-control" value="{$p['company']}">
                    </div>
                    <div class="col-md-2">
                        <label class="control-label">产品性质</label>
                    </div>
                    <div class="col-md-4">
                        <input id="m-property-{$report.id}" type="text" name="m[property][]" class="form-control" value="{$p['property']}">
                    </div>
                </div>
                <div class="hr-line-dashed"></div>
                <div class="clearfix">
                    <div class="col-md-2">
                        <label class="control-label">保障期限</label>
                    </div>
                    <div class="col-md-4">
                        <input id="m-limit-{$report.id}" type="text" name="m[limit][]" class="form-control" value="{$p['limit']}">
                    </div>
                    <div class="col-md-2">
                        <label class="control-label">缴费时期</label>
                    </div>
                    <div class="col-md-4">
                        <input id="m-payment-{$report.id}" type="text" name="m[payment][]" class="form-control" value="{$p['payment']}">
                    </div>
                </div>
                <div class="hr-line-dashed"></div>
                <div class="clearfix">
                    <div class="col-md-2">
                        <label class="control-label">保额</label>
                    </div>
                    <div class="col-md-4">
                        <input id="m-insured-{$report.id}" type="text" name="m[insured][]" class="form-control" value="{$p['insured']}">
                    </div>
                    <div class="col-md-2">
                        <label class="control-label">保费</label>
                    </div>
                    <div class="col-md-4">
                        <input id="m-premium-{$report.id}" type="text" name="m[premium][]" class="form-control" value="{$p['premium']}">
                    </div>
                </div>
                <div class="hr-line-dashed"></div>
                <div class="clearfix">
                    <div class="col-md-2">
                        <label class="control-label">产品说明</label>
                    </div>
                    <div class="col-md-10">
                        <textarea id="m-desc-{$report.id}" name="m[desc][]" id="text" class="form-control" style="height:120px;">{$p['desc']}</textarea>
                    </div>
                </div>
                <div class="hr-line-dashed"></div>
            </div>
    </div>
    <button class="btn btn-default addProduct" data-rid="m" type="button"><i class="fa fa-plus"></i> 添加产品</button>
</div>

<div class="report-title">
    <h5>宝宝</h5>
</div>
<div class="product">
    <div class="form-horizontal product-form">
            <div class="r_product">
                <p style="text-align:right"><a href="javascript:;" title="删除产品" class="fa fa-close" onclick="delProduct(this,0)"></a></p>
                <div class="clearfix">
                    <div class="col-md-2">
                        <label class="control-label">产品</label>
                    </div>
                    <div class="col-md-10">
                        <select class="form-control" name="b[product][]" onchange="change('b','{$report.id}',this)">
                            <foreach name="product" item="vo">
                                <option value="{$vo.id}" <if condition="$vo['id'] eq $report['product_id']">selected</if>>{$vo.title}（{$vo.category.cname}）</option>
                            </foreach>
                        </select>
                    </div>
                </div>
                <div class="hr-line-dashed"></div>
                <div class="clearfix">
                    <div class="col-md-2">
                        <label class="control-label">保险公司</label>
                    </div>
                    <div class="col-md-4">
                        <input id="b-company-{$report.id}" type="text" name="b[company][]" class="form-control" value="{$p['company']}">
                    </div>
                    <div class="col-md-2">
                        <label class="control-label">产品性质</label>
                    </div>
                    <div class="col-md-4">
                        <input id="b-property-{$report.id}" type="text" name="b[property][]" class="form-control" value="{$p['property']}">
                    </div>
                </div>
                <div class="hr-line-dashed"></div>
                <div class="clearfix">
                    <div class="col-md-2">
                        <label class="control-label">保障期限</label>
                    </div>
                    <div class="col-md-4">
                        <input id="b-limit-{$report.id}" type="text" name="b[limit][]" class="form-control" value="{$p['limit']}">
                    </div>
                    <div class="col-md-2">
                        <label class="control-label">缴费时期</label>
                    </div>
                    <div class="col-md-4">
                        <input id="b-payment-{$report.id}" type="text" name="b[payment][]" class="form-control" value="{$p['payment']}">
                    </div>
                </div>
                <div class="hr-line-dashed"></div>
                <div class="clearfix">
                    <div class="col-md-2">
                        <label class="control-label">保额</label>
                    </div>
                    <div class="col-md-4">
                        <input id="b-insured-{$report.id}" type="text" name="b[insured][]" class="form-control" value="{$p['insured']}">
                    </div>
                    <div class="col-md-2">
                        <label class="control-label">保费</label>
                    </div>
                    <div class="col-md-4">
                        <input id="b-premium-{$report.id}" type="text" name="b[premium][]" class="form-control" value="{$p['premium']}">
                    </div>
                </div>
                <div class="hr-line-dashed"></div>
                <div class="clearfix">
                    <div class="col-md-2">
                        <label class="control-label">产品说明</label>
                    </div>
                    <div class="col-md-10">
                        <textarea id="b-desc-{$report.id}" name="b[desc][]" id="text" class="form-control" style="height:120px;">{$p['desc']}</textarea>
                    </div>
                </div>
            </div>

    </div>
    <button class="btn btn-default addProduct" data-rid="b" type="button"><i class="fa fa-plus"></i> 添加产品</button>
</div>
</div>
</div>
</div>


<div class="col-sm-4" style="width: 42.333%;">
    <div class="ibox float-e-margins">
        <div class="ibox-title">
            <h5>家庭情况</h5>
        </div>
        <div class="ibox-content">

            <div class="form-group">
                <label style="font-size:16px;">家庭整体配置分析</label>
                <select class="col-sm-4 s_select" style="float: right;" onchange="changeconf('fam-conf',this)">
                    <foreach name="fam_t_conf" item="vo">
                        <option value="{$vo.id}">{$vo.title}</option>
                    </foreach>
                </select>
                <textarea name="family" id="fam-conf" class="form-control" style="height:120px;"></textarea>
            </div>

            <div class="form-group">
                <label style="font-size:16px;">宝爸的配置分析</label>
                <select class="col-sm-4 s_select" style="float: right;" onchange="changeconf('f-conf',this)">
                    <foreach name="f_t_conf" item="vo">
                        <option value="{$vo.id}">{$vo.title}</option>
                    </foreach>
                </select>
                <textarea name="father" id="f-conf" class="form-control" style="height:220px;"></textarea>
            </div>

            <div class="form-group">
                <label style="font-size:16px;">宝妈的配置分析</label>
                <select class="col-sm-4 s_select" style="float: right;" onchange="changeconf('m-conf',this)">
                    <foreach name="m_t_conf" item="vo">
                        <option value="{$vo.id}">{$vo.title}</option>
                    </foreach>
                </select>
                <textarea name="mother" id="m-conf" class="form-control" style="height:220px;"></textarea>
            </div>



            <div class="form-group">
                <label style="font-size:16px;">宝宝的配置分析</label>
                <?php $b_key=$key ?>
                <select class="col-sm-4 s_select" style="float: right;" onchange="changeconf('b-conf',this)">
                    <foreach name="b_t_conf" item="vo">
                        <option value="{$vo.id}">{$vo.title}</option>
                    </foreach>
                </select>
                <textarea name="baby" id="b-conf" class="form-control" style="height:220px;"></textarea>
            </div>

        </div>
    </div>
</div>
</div>


<div class="col-sm-12">
    <button class="btn btn-primary btn-rounded btn-block" type="submit"> 提交</button>
</div>
</form>
</div>
</div>
<script src="__PUBLIC__/js/jquery.min.js"></script>
<script src="__PUBLIC__/js/bootstrap.min.js"></script>
<script src="__PUBLIC__/js/content.min.js"></script>
<script type="text/javascript">
    //选择填充数据  eisen
    function change(type,rid,op){
        var id={id:op.value};
        $.ajax({
            url:"{:U('user/ajaxProduct')}",
            type:"get",
            data:id,
            success:function(data){
                if(data.status==1){
                    $("#"+type+'-company-'+rid).val(data.company);
                    $("#"+type+'-property-'+rid).val(data.property);
                    $("#"+type+'-limit-'+rid).val(data.limit);
                    $("#"+type+'-insured-'+rid).val(data.insured);
                    $("#"+type+'-premium-'+rid).val(data.premium);
                    $("#"+type+'-desc-'+rid).val(data.desc);
                    $("#"+type+'-payment-'+rid).val(data.payment);
                }
            }
        })
    }
    function changeconf(type,op){
        var id={id:op.value};
        $.ajax({
            url:"{:U('Template/ajaxTemConf')}",
            data:id,
            success:function(data){
                if(data.status==1){
                    $("#"+type).val(data.desc);
                }
            }
        })
    }
    $("#s_button").click(function(){
        $("#s_form").submit();
    });
    var reportUrl = "{:U('Template/reportForm')}";
    var delProductUrl = "{:U('user/delProduct')}";
</script>
<script src="__PUBLIC__/js/plugins/layer/layer.js"></script>
<script type="text/javascript" src="__PUBLIC__/js/report.js"></script>
</body>
</html>
