<!DOCTYPE html>
<html>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>广州萌懂信息科技有限公司</title>
    <link rel="shortcut icon" href="favicon.ico"> <link href="__PUBLIC__/css/bootstrap.min.css" rel="stylesheet">
    <link href="__PUBLIC__/css/font-awesome.min.css" rel="stylesheet">
    <link href="__PUBLIC__/css/animate.min.css" rel="stylesheet">
    <link href="__PUBLIC__/css/style.min.css" rel="stylesheet">
    <style>
        select:focus{
            border-color: rgb(26, 179, 148);;
            outline: 0;
        }
        .s_select{
            border: 1px solid #e5e6e7;
        }

    </style>
</head>
<body class="gray-bg">
    <div class="wrapper wrapper-content animated fadeInRight">
        <div class="row">
            <div class="col-sm-12">
                <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <h5>添加配置分析模板</h5>
                    </div>
                    <div class="ibox-content">
                        <form method="post" class="form-horizontal" action="{:U('template/addConf')}"  enctype="multipart/form-data">

                            <div class="hr-line-dashed"></div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label">模板名称</label>
                                <div class="col-sm-10">
                                    <input type="text" class="form-control" name="title" value="">
                                </div>
                            </div>
                            <div class="hr-line-dashed"></div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label">对象</label>

                                <div class="col-sm-10 ">
                                    <select class="control-label s_select" name="level">
                                        <option value="0">家庭</option>
                                        <option value="1">宝爸</option>
                                        <option value="2">宝妈</option>
                                        <option value="3">宝宝</option>
                                    </select>
                                    <!--<input type="text" class="form-control" name="title" value="">-->
                                </div>
                            </div>
                            <div class="hr-line-dashed"></div>

                            <div class="form-group">

                                    <label class="col-md-2 control-label">模板内容</label>

                                <div class="col-md-10">
                                    <textarea name="desc" id="text" class="form-control" style="height:120px;"></textarea>
                                </div>
                            </div>

                            <div class="hr-line-dashed"></div>

                            <div class="form-group">
                                <div class="col-sm-4 col-sm-offset-2">
                                    <button class="btn btn-primary" type="submit">提交</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="__PUBLIC__/js/jquery.min.js"></script>
    <script src="__PUBLIC__/js/bootstrap.min.js"></script>
    <script src="__PUBLIC__/js/content.min.js"></script>
    <script src="__PUBLIC__/js/ueditor/ueditor.config.js"></script>
    <script src="__PUBLIC__/js/ueditor/ueditor.all.js"></script>
    <script type="text/javascript">
        UEDITOR_CONFIG.allowDivTransToP = false;
        UEDITOR_CONFIG.maximumWords= 1000000000
        // var ue = UE.getEditor('content');
        var ue = UE.getEditor('intro');
        // var ue = UE.getEditor('basic');
    </script>
    <script type="text/javascript">
    function addImg(){
        var str = '';
        str += '<div class="box"> <div class="hr-line-dashed"></div><div class="form-group">';
        str += '<label class="col-sm-2 control-label" for="album"><a href="javascript:;" onclick="removeImg(this)">[-]</a>商品相册:</label>';
        str += '<div class="col-sm-10">';
        str +='<input type="file"  name="album[]" value=""></div></div></div>';
        $('#album-item').append(str);
    }
    function removeImg(obj){
        $(obj).parents('.box').remove();
    }
    </script>
</body>
</html>