

.topWrap{background: url(../image/headbge.jpg) repeat-x center top;overflow:hidden;  height:223px;}
.h_top{ height:31px; line-height:31px; overflow:hidden; font: 14px/35px "Microsoft Yahei";}
.h_top span a{  display:inline-block; padding:0 21px;  font-size:14px; line-height:32px;}
.h_top span a.dt{ padding-right:21px}
.h_top span a.ly{ padding-right:0px;}
.h_nr{ height:145px; margin-top:5px;}
.h_logo span{ width:122px; height:127px; overflow:hidden;}
.h_logo .pz h2 b{display:block; font-family:Microsoft YaHei; }
.h_logo .pz h2 b.g1{ color:#bddf33;display:block; font-weight:bold; font-size:25px; word-spacing:5px; line-height:30px; }
.h_logo .pz h2 b.g2{ color:#343434;display:block; font-weight:bold; font-size:19px; word-spacing:5px; line-height:35px;}
.h_logo .pz{padding: 26px 0 0 42px;}
.h_logo span img{ width:122px; height:127px; }
.h_logo h1{ width:12px; height: 127px;  padding:0px 0 0 56px; }
.h_logo h1 img{ width:12px; height: 127px; }
.h_lx{ width:258px; height:79px; margin:15px -61px 0 0;background:url(../images/tel.jpg) no-repeat 99px 17px;padding-left: 165px;  color:#343434; line-height:28px; font: 14px/35px "Microsoft Yahei"; padding-top:18px;}
.h_lx  span{  color:#bddf33;; display:block; margin-left:-6px; font-weight:bold;font: 34px/33px "Microsoft Yahei"}
.h_nav{height:60px; overflow:hidden; background:#bade29; margin-top:-17px;}
.h_nav ul li { float:left; height:60px; overflow:hidden;  background: url(../images/fgdh.jpg) no-repeat right center; padding:0 28px;}
.h_nav ul li a{ display:inline-block; font-size: 16px; color:#343434; line-height:60px; height:60px;font-family:Microsoft YaHei;}
.h_nav li a:hover , .h_nav .cur a { text-decoration:none; color:#fff;}
.h_nav ul li.li_last{ background:none; margin-right: 0px;}
.h_nav ul li.cur{ background:none;}
.header, .content, .footer {width: 1200px;margin: 0 auto;}


        .ty-banner-1 {
            overflow: hidden;
            line-height: 0;
            text-align:center;
        }
        .ty-banner-1 img.show{
            visibility: visible;
        }
    

            .p4-search-1 {
                background: #e5e5e5;
                height: 82px;
                overflow: hidden;
            }
            
            .p4-search-1 p {
                color: #6b6b6b;
                line-height: 82px;
            }
            
            .p4-search-1 a {
                color: #999;
                display: inline-block;
                margin-right: 15px;
            }
            
            .p4-search-1-inp {
                width: 384px;
                height: 40px;
                border-top: 1px solid #d4d4d4;
                border-bottom: 1px solid #d4d4d4;
                margin-top: 20px;
            }
            
            .p4-search-1-inp1 {
                width: 336px;
                height: 40px;
                font-size: 12px;
                background: none;
                color: #b1b1b1;
                line-height: 40px;
                float: left;
                border: 0;
                outline: none;
            }
            
            .p4-search-1-inp2 {
                width: 36px;
                height: 40px;
                background: url(images/VISkins-p4.png) no-repeat -962px -620px;
                cursor: pointer;
                float: right;
                border: 0;
            }
        

        .p4-curmbs-1{ height: 110px; line-height: 110px; overflow: hidden;}
        .p4-curmbs-1 dt{float: left; padding-left:28px; color: #1e1e1e; background: url(images/VISkins-p4.png) no-repeat 0 40px; width:70px;}
        .p4-curmbs-1 dd{ color: #999; }
        .p4-curmbs-1 a{color: #999;padding:0 6px;display: inline-block;}
        .p4-curmbs-1 a:hover, .p4-curmbs-1 .cur{color:#bddf33;}

    

        .p4-info-1{overflow: hidden;}
        .p4-info-1 .p4-titlel-1{margin-bottom: 40px;}
        .p4-info-1-con{padding-bottom: 40px;overflow: hidden;}
        .p4-info-1 dl{width: 47%; float: left;overflow: hidden; } 
        .p4-info-1 dt{width: 100%; overflow: hidden;}
        .p4-info-1 dt img{display: block;width: 100%;}
        .p4-info-1 h4{height: 58px;font-weight: bold; line-height: 58px;max-width: 80%; white-space: nowrap;text-overflow: ellipsis; overflow:hidden;  }
        .p4-info-1 h4 a{color: #333;}
        .p4-info-1 p{height: 72px; line-height: 24px; color: #666;margin-bottom: 14px; overflow: hidden;}
        .p4-info-1 p span{display:block; line-height: line-height: 14px;}
        .p4-info-1 dd em{display: block;width: 106px; height: 24px; line-height: 24px; text-align: center;}
        .p4-info-1 dd em a{background:#767676;color: #fff; display: block;text-transform: none;}
        .p4-info-1 dl:hover h4 a{color: #bddf33;}
        
        .p4-info-1 dl:hover em a{background: #bddf33;}
    

        .p4-info-list-content-1{margin-bottom: 60px; overflow: hidden;}
        .p4-info-list-content-1-con{ padding-bottom: 20px;overflow: hidden;}
        .p4-info-list-content-1 dl{padding-bottom: 30px; margin-bottom: 28px; border-bottom: 1px solid #eee; overflow: hidden;}
        
        .p4-info-list-content-1 .p4-info-list-content-1-dl0{border-bottom:0;}
        
        .p4-info-list-content-1 dt{width: 100%; height: 30px; font-weight: bold; line-height: 16px; max-width: 80%;white-space: nowrap;text-overflow: ellipsis; overflow: hidden;}
        .p4-info-list-content-1 dt a{color: #333;}
        .p4-info-list-content-1 p{ line-height: 24px; color: #666;margin-bottom: 20px; overflow: hidden;}
        .p4-info-list-content-1 p span{display:block; line-height: line-height: 14px;}
        .p4-info-list-content-1 dd em{display: block;width: 106px; height: 24px; line-height: 24px; text-align: center;}
        .p4-info-list-content-1 dd em a{background:#bddf33;color: #fff; display: block;text-transform: none;}
         .p4-info-list-content-1 dl:hover dt a{color: #bddf33;}
        .p4-info-list-content-1 dl:hover em a{background: #bddf33;}
        
        
    

        .p4-left-nav-2 .sidenavcur a {
            color:#bddf33;
        }
        
        .p4-left-nav-2 {
            background: #f1f1f1;
            margin-bottom: 38px;
            overflow: hidden;
        }
        
        .p4-left-nav-2-con {
            overflow: hidden;
        }
        
        .p4-left-nav-2 h4 {
            height: 48px;
            background: #ebebeb;
            line-height: 48px;
            border-top: 1px solid #f1f1f1;
            border-bottom: 1px solid #eee;
            overflow: hidden;
        }
        
        .p4-left-nav-2 h4 a {
            color: #333;
            display: block;
            background: url(images/VISkins-p4.png) no-repeat 190px -139px;
            padding: 0 24px;
            border-bottom: 1px solid #eee;
            max-width: 75%;
            white-space: nowrap;
            text-overflow: ellipsis;
            overflow: hidden;
        }
        
        .p4-left-nav-2 h4 a:hover,
        .p4-left-nav-2 h4.sidenavcur a {
            text-decoration: none;
            color: #bddf33;
            background-position: 185px -56px;
        } 
        .p4-left-nav-2 dt {
            width: 82.5%;
            height: 34px;
            line-height: 34px;
            margin: 0 auto;
        }
        
        .p4-left-nav-2 dt a {
            display: block;
            text-decoration: none;
            padding-left: 16px;
            color: #333;
            background: url(images/VISkins-p4.png) no-repeat -4px -327px;
            max-width: 80%;
            white-space: nowrap;
            text-overflow: ellipsis;
            overflow: hidden;
        }
        
        .p4-left-nav-2 dt a:hover,
        .p4-left-nav-2 dt.sidenavcur a {
            color: #bddf33;
            background-position:-4px -242px;
        }
        
        .p4-left-nav-2 dd {
            padding-bottom: 10px;
        }
        
        .p4-left-nav-2 p {
            padding-left:50px;
            font-size: 14px;
            line-height: 30px;
        }
        
        .p4-left-nav-2 p a:hover,.p4-left-nav-2 p.sidenavcur a {
            color: #bddf33;
        }
    

        .product-1 {
            overflow: hidden;
        } 
.product-1 h3 {
            white-space: nowrap;
            text-overflow: ellipsis;
            overflow: hidden;
        } 
.product-1-con {
            overflow: hidden;
        } 
.product-1 dl {
            padding-bottom: 25px;
            margin-bottom: 24px;
            border-bottom: 1px dashed #f1f1f1;
            overflow: hidden;
        } 
.product-1 dl:hover a {
            color:#bddf33;
        } 
.product-1 dl:nth-last-child(1) {
            border-bottom: 0;
            margin-bottom: 14px;
        } 
.product-1 dt {
            width: 35%;
            float: left;
            margin-right: 14px;
            overflow: hidden;
        } 
.product-1 dt img {
            display: block;
            width: 100%;
        } 
.product-1 dd {
            color: #666;
            overflow: hidden;
        } 
.product-1 p {
            max-height: 48px;line-height: 24px;overflow: hidden;
        } 
.product-1 p a {
            display: block;
        } 
.product-1 dd span {
            display: block;
            color: #999;
            line-height: 16px;
        }
    

        .p4-contact-1{overflow: hidden;}
        .p4-contact-1-con{border: 1px solid #eee;padding:10px 20px 20px 20px; }
        .p4-contact-1-con p{font-size: 20px;line-height: 42px; color:#bddf33;}
        .p4-contact-1-con li{line-height: 24px; color: #666; padding-left: 22px; margin-bottom: 10px; background: url(images/VISkins-p4.png) no-repeat;}
        .p4-contact-1-con .p4-contact-1-t1{ background-position:-977px 8px;}
        .p4-contact-1-con .p4-contact-1-t2{ background-position:-977px -90px;}
        .p4-contact-1-con .p4-contact-1-t3{ background-position:-977px -180px;}
        .p4-contact-1-con .p4-contact-1-t4{ background-position:-977px -277px;}
    




.footer{ height:403px; overflow:hidden; width: 100%;}
.footen .bglogo{ height:216px; width:222px;}
.footen .bglogo img{ width:162px; height:166px; padding:25px;}
.footer .nr{ width:950px; overflow:hidden; height:64px; border-bottom:solid 1px #9c896f}
.footer .nr p a{font-family:Microsoft YaHei; font-size:14px; color:#c1bcb6; padding-right:42px;}
.footer .dh span{ display:block; width:195px; height:110px; float:left;}
.footer .dh span img{ width:86px; height:86px; padding:12px;}

.footer .footen{ margin-top:74px;}
.footer.bbcontet{ margin-right:-17px;}
.bbcontet .dbtj{ color:#c1bcb6; font-family:Microsoft YaHei; font-size:14px; margin-top:225px; font-family:ya}
.bbcontet .dh{ margin-top:39px;}
.bbcontet .dh .dhadd{ width:539px;}
.bbcontet .dh div{color:#c1bcb6; font-family:Microsoft YaHei; font-size:14px; line-height:39px;}

 .footer{background: url(img/index/ftbg.jpg) no-repeat center center;width: 100%; height:548px}
  .footer .fnav{ background:#bade29; height:60px; margin-top:488px;}
    .footer .fnav a{font-size: 16px;color: #343434;line-height: 60px;height: 60px;font-family: Microsoft YaHei; padding:0 56px;}
  .footer .fshw  .leftfooter p{ font-size: 14px;color: #fff;font-family: Microsoft YaHei;  padding-top:10px; height:42px;}
  .footer .fshw  .leftfooter{ float:left; width:505px; margin-top:32px;}
      .footer .fshw  .leftfooter .dltb{ width:428px; overflow:hidden;}
    .footer .fshw  .leftfooter .dltb dl{ width:193px; height:46px; float:left;}
       .footer .fshw  .leftfooter .dltb dl dt { float:left;}
          .footer .fshw  .leftfooter .dltb dl dd{ float:right; font-size: 15px;color: #fff;font-family: Microsoft YaHei; text-align:left;  padding-top: 7px; width:156px;}
                .footer .fshw  .leftfooter .dltb dl.last{ width:350px;}
                    .footer .fshw  .leftfooter .dltb dl.last dd{ width:313px;}
                          .footer .fshw  .leftfooter .dltb span{font-size: 14px;color: #999999;font-family: Microsoft YaHei}
                                          .footer .fshw  .leftfooter .dltb  p{ margin-top:18px; height:100px;}
                                





        .rightorder h3 {
            font-size: 30px;
            color: #fff;
            font-family: Microsoft YaHei;
            height: 41px;
        }
        
        .rightorder span {
            font-size: 15px;
            color: #fff;
            font-family: Microsoft YaHei;
            display: block;
        }
        
        .rightorder {
            float: right;
            width: 628px;
            margin-top: -566px;
            margin-right: 48px;
        }
        
        .rightorder .liywz {
            height: 91px;
            padding-top: 53px;
            margin-left: 21px;
        }
        
        .footer .rightorder ul {
            overflow: hidden;
        }
        
        .rightorder ul li {
            float: left;
            margin: 0 0 14px 0;
            line-height: 0px;
            color: #fc8d00;
        }
        
        .rightorder ul li span {
            display: inline-block;
            font-size: 14px;
            color: #fff;
            font-family: "Microsoft Yahei";
            line-height: 40px;
            vertical-align: top;
            text-align: center;
            height: 40px;
            width: 90px;
            overflow: hidden;
        }
        
        .rightorder ul .li01 {
            margin-right: 16px;
            width: 274px;
            height: 43px;
            overflow: hidden;
        }
        
        .rightorder ul .li02 span {
            width: 57px;
        }
        
        .rightorder ul.li03 {
            width: 248px;
            height: 42px;
            margin-right: 14px;
        }
        
        .rightorder ul .li05 {
            margin-right: 10px
        }
        
        .rightorder ul .inp1 {
            width: 154px;
            padding-left: 10px;
            height: 38px;
            border: 0;
            line-height: 40px;
            overflow: hidden;
            background: none;
            font-size: 14px;
            font-family: "Microsoft Yahei";
            color: #595656;
            outline: none;
            border: 1px solid #999999;
            background: none
        }
        
        .rightorder ul .inp2 {
            width: 237px;
            padding-left: 10px;
            height: 38px;
            border: 0;
            line-height: 24px;
            overflow: hidden;
            background: none;
            resize: none;
            color: #595656;
            outline: none;
            border: 1px solid #999999;
        }
        
        .rightorder ul .inp3 {
            width: 493px;
            padding-left: 10px;
            height: 38px;
            font-size: 14px;
            font-family: "Microsoft Yahei";
            border: 1px solid #dcdcdc;
            line-height: 40px;
            overflow: hidden;
            background: none;
            color: #595656;
            outline: none;
            border: 1px solid #999999;
        }
        
        .rightorder ul .inp4 {
            width: 493px;
            padding-left: 10px;
            height: 67px;
            font-size: 14px;
            font-family: "Microsoft Yahei";
            border: 1px solid #dcdcdc;
            line-height: 40px;
            overflow: hidden;
            background: none;
            color: #595656;
            outline: none;
            border: 1px solid #999999;
        }
        
        .rightorder ul .btn1 {
            display: inline-block;
            background: url(../images/tjs.jpg) no-repeat left top;
            width: 142px;
            height: 44px;
            border: 0;
            margin-left: 77px;
        }
        
        .rightorder ul .btn2 {
            display: inline-block;
            background: url(../images/czs.jpg) no-repeat left top;
            width: 142px;
            height: 44px;
            margin-left: 16px;
            border: 0;
        }
        
        .rightorder ul .nobot {
            margin-right: 0;
        }
        .rightorder .li05 input{ vertical-align:top;}
    

        .client-2 {
            position: fixed;
            right: 0px;
            top: 50%;
            z-index: 9999;
        } 
.client-2 ul {
            width: 77px;
        } 
.client-2 li a {
            text-decoration: none;
        } 
.client-2 li {
            background: #bddf33;
            margin-top: 1px;
            padding: 9px 0;
            height: 56px;
            width: 77px;
        } 
.client-2 li i {
            background: url(../images/fx.png) no-repeat;
            display: block;
            width: 30px;
            height: 27px;
            margin: 0px auto;
            text-align: center;
        } 
.client-2 li p {
            height: 20px;
            line-height: 20px;
            overflow: hidden;
            text-align: center;
            color: #fff;
        } 
.client-2 .my-kefu-qq i {
            background-position: 4px 5px;
        } 
.client-2 .my-kefu-tel i {
            background-position: 0 -21px;
        } 
.client-2 .my-kefu-liuyan i {
            background-position: 4px -53px;
        } 
.client-2 .my-kefu-weixin i {
            background-position: -34px 4px;
        } 
.client-2 .my-kefu-weibo i {
            background-position: -30px -22px;
        } 
.client-2 .my-kefu-ftop {
            display: none;
            background-color:#bddf33;
        } 
.client-2 .my-kefu-ftop i {
            width: 33px;
            height: 35px;
            background-position: -27px -51px;
        } 
.client-2 .my-kefu-left {
            float: left;
            width: 77px;
            height: 47px;
            position: relative;
        } 
.client-2 .my-kefu-tel-right {
            font-size: 20px;
            color: #fff;
            float: left;
            height: 24px;
            line-height: 22px;
            padding-left: 15px;
            border-left: 1px solid #fff;
            margin-top: 8px;
        } 
.client-2 .my-kefu-right {
            width: 20px;
        } 
.client-2 .my-kefu-tel-main {
            color: #fff;
            margin-top: 9px;
            height: 47px;
            width: 247px;
        } 
.client-2 .my-kefu-main {
            width: 97px;
            position: relative;
        } 
.client-2 .my-kefu-weixin-pic {
            position: absolute;
            left: -130px;
            top: -24px;
            display: none;
            z-index: 333;
        }
        .my-kefu-weixin-pic img{width:115px;height:115px;}
    
