<!DOCTYPE html>
<html>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{$action}文章</title>
    <link rel="shortcut icon" href="favicon.ico"> <link href="__PUBLIC__/css/bootstrap.min.css" rel="stylesheet">
    <link href="__PUBLIC__/css/font-awesome.min.css" rel="stylesheet">
    <link href="__PUBLIC__/css/animate.min.css" rel="stylesheet">
    <link href="__PUBLIC__/css/style.min.css" rel="stylesheet">
    <link href="__PUBLIC__/css/fileupload/jquery.fileupload-ui.css" rel="stylesheet">
    <link href="__PUBLIC__/css/fileupload/jquery.fileupload.css" rel="stylesheet">
    <style type="text/css">
    #album-list{ padding: 20px 0px 20px  0%;}
    #album-list li{float: left; width: 20%;text-align: center;border:1px solid #ccc;max-height: 200px;overflow: hidden;margin-right: 10px;border-radius: 5px;padding:10px;}
    #album-list li img{width: 100%;max-height: 150px;}
    #album-list li p{ padding: 10px 0px;}
    em{color: red};

    </style>
</head>
<body class="gray-bg">
    <div class="wrapper wrapper-content animated fadeInRight">
        <div class="row">
            <div class="col-sm-12">
                <div class="ibox float-e-margins">
                    <div class="ibox-title" >
                        <h5>{$action}文章
                    </div>
                    <div class="ibox-content">
                        <form method="post" class="form-horizontal" id="masterForm" onkeydown="if(event.keyCode==13)return false;" action="?" enctype="multipart/form-data" >
                            <input type="hidden" name="id" value='{$list.id}'></input>
                            <div class="form-group">
                                <label class="col-sm-2 control-label"><em>*</em>文章标题</label>
                                <div class="col-sm-4">
                                    <input type="text" placeholder="此项必须填写" class="form-control" name="title" value="{$list.title}">
                                </div>
                            </div>
                        <div class="hr-line-dashed"></div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label"><em>*</em>文章来源</label>
                                <div class="col-sm-4">
                                   <input type="text" placeholder="此项必须填写" class="form-control" name="form" value="{$list.form}">
                                </div>
                            </div>
                        <div class="hr-line-dashed"></div>
                            <div class="form-group append">
                                <label class="col-sm-2 control-label"><em>*</em>文章类型</label>
                                <div class="col-sm-4">
                                    <select  class="form-control m-b"  name="art_cate">
                                        <option value="1">案例</option>
                                        <option value="2">新闻</option>
                                    </select>
                                </div>
                            </div>
                        <div class="hr-line-dashed"></div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label"><em>*</em>发布日期</label>
                                <div class="col-sm-4">
                                    <input type="text" placeholder="此项必须填写" name="pub_time" class="form-control" id="start"  value="{$list.pub_time}">
                                </div>
                            </div>
                        <div class="hr-line-dashed"></div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label"><em>*</em>文章导读</label>
                                <div class="col-sm-4">
                                <textarea name="info"  style="width:350px;height: 150px">{$list.info}</textarea>                             
                                </div>
                            </div>
                            <div class="hr-line-dashed"></div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label">文章详情</label>
                                <div class="col-sm-10">
                                    <textarea name="detail" id="detail" cols="30" rows="10" style="height:300px">{$list.detail}</textarea>
                                </div>
                            </div>
                        <div class="hr-line-dashed"></div>
                            <div class="form-group">
                                <div class="col-sm-4 col-sm-offset-2">
                                    <button class="btn btn-primary" type="submit">保存内容</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script src="__PUBLIC__/js/jquery.min.js"></script>
    <script src="__PUBLIC__/js/bootstrap.min.js"></script>
    <script src="__PUBLIC__/js/content.min.js"></script>
    <script src="__PUBLIC__/js/plugins/layer/layer.js"></script>
    <script src="__PUBLIC__/js/plugins/layer/laydate/laydate.js"></script>
    <script src="__PUBLIC__/js/ueditor/ueditor.config.js"></script>
    <script src="__PUBLIC__/js/ueditor/ueditor.all.js"></script>    
    <script type="text/javascript">
        laydate({elem:"#start",event:"focus"});
        UEDITOR_CONFIG.allowDivTransToP = false;
        UEDITOR_CONFIG.maximumWords= 1000000000
        var ue = UE.getEditor('detail');  
        $(function(){
            $('[name="title"]').val('{$list.title}');
            $('[name="form"]').val(['{$list.form}']);
            $('[name="pub_time"]').val(['{$list.pub_time}']);
        })  
    </script>
</body>
</html>