<!DOCTYPE html>
<html>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>广州萌懂信息科技有限公司</title>
    <link rel="shortcut icon" href="favicon.ico"> <link href="__PUBLIC__/css/bootstrap.min.css" rel="stylesheet">
    <link href="__PUBLIC__/css/font-awesome.min.css" rel="stylesheet">
    <link href="__PUBLIC__/css/animate.min.css" rel="stylesheet">
    <link href="__PUBLIC__/css/style.min.css" rel="stylesheet">
</head>
<body class="gray-bg">
    <div class="wrapper wrapper-content animated fadeInRight">
        <div class="row">
            <div class="col-sm-12">
                <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <h5>问卷调查详情</h5>
                        <h5 style="margin-left: 20px;cursor: pointer;" onclick="javascript:window.history.back();">返回红包列表</h5>
                    </div>
                    <div class="ibox-content">
                        <div class="form-group">
                           问题1:整个托管服务的相关环节中，您对哪个环节最不满意？
                        </div>
                        <div class="form-group">
                            <input disabled="disbaled"  type="radio" value="0" <if condition="$list.q1 eq '0'">checked</if>>方案定制</option>
                            <input disabled="disbaled"  type="radio" value="1" <if condition="$list.q1 eq 1">checked</if>>投保协助</option>
                            <input disabled="disbaled"  type="radio" value="2" <if condition="$list.q1 eq 2">checked</if>>理赔协助</option>
                            <input  disabled="disbaled" type="radio" value="3" <if condition="$list.q1 eq 3">checked</if>>有问必答</option>
                        </div> 
                        <div class="hr-line-dashed"></div>
                        <div class="form-group">
                           问题2:您对我们整体服务的印象中，以下哪个方面最不满意？
                        </div>
                        <div class="form-group">
                            <input disabled="disbaled" type="radio" value="0" <if condition="$list.q2 eq '0'">checked</if>>服务态度</option>
                            <input disabled="disbaled" type="radio" value="1" <if condition="$list.q2 eq 1">checked</if>>专业能力</option>
                            <input disabled="disbaled" type="radio" value="2" <if condition="$list.q2 eq 2">checked</if>>响应速度</option>
                            <input disabled="disbaled" type="radio" value="3" <if condition="$list.q2 eq 3">checked</if>>产品体验</option>
                        </div> 
                        <div class="hr-line-dashed"></div>
                        <div class="form-group">
                           问题3:您对我们为您定制的家庭保险方案，满意度如何？
                        </div>
                        <div class="form-group">
                            <input disabled="disbaled"  type="radio" value="0" <if condition="$list.q3 eq '0'">checked</if>>很不满意，远没有达到我的预想</option>
                            <input disabled="disbaled"  type="radio" value="1" <if condition="$list.q3 eq 1">checked</if>>不满意，有些需求没有考虑到</option>
                            <input disabled="disbaled"  type="radio" value="2" <if condition="$list.q3 eq 2">checked</if>>基本满意，但我觉得还可以做得更好</option>
                            <input  disabled="disbaled" type="radio" value="3" <if condition="$list.q3 eq 3">checked</if>>非常满意，感谢你们的专业服务</option>
                        </div> 
                         <div class="hr-line-dashed"></div>
                        <div class="form-group">
                           问题4:您对配置的方案产品搭配，最不好的体验是什么？
                        </div>
                        <div class="form-group">
                            <input disabled="disbaled" type="radio" value="0" <if condition="$list.q4 eq '0'">checked</if>>产品险种不太理解，不知道保什么</option>
                            <input disabled="disbaled" type="radio" value="1" <if condition="$list.q4 eq 1">checked</if>>产品搭配复杂，了解起来需要时间</option>
                            <input disabled="disbaled" type="radio" value="2" <if condition="$list.q4 eq 2">checked</if>>产品详情页，阅读体验不太好</option>
                            <input disabled="disbaled" type="radio" value="3" <if condition="$list.q4 eq 3">checked</if>>找不到保障细节，每次要问专家</option>
                        </div> 
                        <div class="hr-line-dashed"></div>
                        <div class="form-group">
                           问题5: 您对您保险方案里的家庭配置分析页面，怎么看？
                        </div>
                        <div class="form-group">
                            <input disabled="disbaled" type="radio" value="0" <if condition="$list.q5 eq '0'">checked</if>>看不太懂，能不能通俗点</option>
                            <input disabled="disbaled" type="radio" value="1" <if condition="$list.q5 eq 1">checked</if>>文字太多，阅读困难症</option>
                            <input disabled="disbaled" type="radio" value="2" <if condition="$list.q5 eq 2">checked</if>>文字太少，专家偷懒了</option>
                            <input disabled="disbaled" type="radio" value="3" <if condition="$list.q5 eq 3">checked</if>>分析详尽，做的非常棒</option>
                        </div>
                         <div class="hr-line-dashed"></div>
                        <div class="form-group">
                           问题6: 您对我们最新上线的，保单管理服务，怎么看？
                        </div>
                        <div class="form-group">
                            <input disabled="disbaled" type="radio" value="0" <if condition="$list.q6 eq '0'">checked</if>>就是我想要的功能，全家保单一起托管</option>
                            <input disabled="disbaled" type="radio" value="1" <if condition="$list.q6 eq 1">checked</if>>功能很好，还需要改进细节</option>
                            <input disabled="disbaled" type="radio" value="2" <if condition="$list.q6 eq 2">checked</if>>一般般，有点无感</option>
                            <input disabled="disbaled" type="radio" value="3" <if condition="$list.q6 eq 3">checked</if>>还没有用过，赶紧去瞅瞅</option>
                        </div>
                         <div class="hr-line-dashed"></div>
                        <div class="form-group">
                           问题7: 您购买家庭保险托管服务的目标是什么？
                        </div>
                        <div class="form-group">
                            <input disabled="disbaled" type="radio" value="0" <if condition="$list.q7 eq '0'">checked</if>>学习保险知识和了解家庭风险    </option>
                            <input disabled="disbaled" type="radio" value="1" <if condition="$list.q7 eq 1">checked</if>>希望尽快配置保险保障全家</option>
                            <input disabled="disbaled" type="radio" value="2" <if condition="$list.q7 eq 2">checked</if>>委托专家一体化解决我的保险难题</option>
                            <input disabled="disbaled" type="radio" value="3" <if condition="$list.q7 eq 3">checked</if>>宝妈好闷，找人聊天，聊聊聊</option>
                        </div>
                         <div class="hr-line-dashed"></div>
                        <div class="form-group">
                           问题8: 如果需要进一步沟通，您希望我们通过哪种形式与您联系？
                        </div>
                        <div class="form-group">
                            <input disabled="disbaled" type="radio" value="0" <if condition="$list.q8 eq 0">checked</if>>微信服务号    </option>
                            <input disabled="disbaled" type="radio" value="1" <if condition="$list.q8 eq 1">checked</if>>电话</option>
                            <input disabled="disbaled" type="radio" value="2" <if condition="$list.q8 eq 2">checked</if>>专家团队微信个人号 </option>
                            <input disabled="disbaled" type="radio" value="3" <if condition="$list.q8 eq 3">checked</if>>电子邮件</option>
                        </div>
                         <div class="hr-line-dashed"></div>
                        <div class="form-group">
                           问题9: 如果需要修改和完善方案，原因是什么？
                        </div>
                        <div class="form-group">
                            <input disabled="disbaled" type="radio" value="0" <if condition="$list.q9 eq '0'">checked</if>>有些产品退市影响不能投保    </option>
                            <input disabled="disbaled" type="radio" value="1" <if condition="$list.q9 eq 1">checked</if>>专家对我的家庭风险和需求沟通不到位</option>
                            <input disabled="disbaled" type="radio" value="2" <if condition="$list.q9 eq 2">checked</if>>对专家的配置分析和产品了解不到位 </option>
                            <input disabled="disbaled" type="radio" value="3" <if condition="$list.q9 eq 3">checked</if>>对专家配置的产品搭配不认可</option>
                        </div> 
                        <div class="hr-line-dashed"></div>
                        <div class="form-group">
                           问题10:是否需要专家帮您修改和完善方案？
                        </div>
                        <div class="form-group">
                            <input disabled="disbaled" type="radio" value="1" <if condition="$list.q10 eq 1">checked</if>>需要</option>
                            <input disabled="disbaled" type="radio" value="2" <if condition="$list.q10 eq 2">checked</if>>不需要 </option>

                        </div>  
                         <div class="hr-line-dashed"></div>
                        <div class="form-group">
                           建议:
                        </div>
                        <div class="form-group">
                           <textarea style="width: 80%;height: 200px" disabled="disbaled">{$list.suggest}</textarea>
                        </div>     

                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="__PUBLIC__/js/jquery.min.js"></script>
    <script src="__PUBLIC__/js/bootstrap.min.js"></script>
    <script src="__PUBLIC__/js/content.min.js"></script>
    <script src="__PUBLIC__/js/ueditor/ueditor.config.js"></script>
    <script src="__PUBLIC__/js/ueditor/ueditor.all.js"></script>
    <script type="text/javascript">
        UEDITOR_CONFIG.allowDivTransToP = false;
        UEDITOR_CONFIG.maximumWords= 1000000000
        var ue = UE.getEditor('content');
    </script>
</body>
</html>