<!DOCTYPE html>
<html>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>服装管理</title>
    <link rel="shortcut icon" href="favicon.ico"> <link href="__PUBLIC__/css/bootstrap.min.css" rel="stylesheet">
    <link href="__PUBLIC__/css/font-awesome.min.css" rel="stylesheet">
    <link href="__PUBLIC__/css/animate.min.css" rel="stylesheet">
    <link href="__PUBLIC__/css/style.min.css" rel="stylesheet">
    <style type="text/css">
    #album-list{ padding: 20px 0px 20px  0%;}
    #album-list li{float: left; width: 20%;text-align: center;border:1px solid #ccc;max-height: 200px;overflow: hidden;margin-right: 10px;border-radius: 5px;padding:10px;}
    #album-list li img{width: 100%;max-height: 150px;}
    #album-list li p{ padding: 10px 0px;}
    em{color: red};

    </style>
</head>
<body class="gray-bg">
    <div class="wrapper wrapper-content animated fadeInRight">
        <div class="row">
            <div class="col-sm-12">
                <div class="ibox float-e-margins">
                    <div class="ibox-title" >
                        <h5>添加返单
                    </div>
                    <div class="ibox-content">
                        <form method="post" class="form-horizontal" id="masterForm" action="?" onkeydown="if(event.keyCode==13)return false;" enctype="multipart/form-data" >
                            <input type="hidden" name="order_id" value="{$list.order_id}">
                            <input type="hidden" name="order_user_id" value='{$Think.session.username}'></input>
                            <!-- 订单工厂 -->
                            <div class="form-group">
                                <label class="col-sm-2 control-label"><em>*</em>加工厂</label>
                                <div class="col-sm-4">
                                    <select  class="form-control m-b" name="redo_factory">
                                        <option value="0">请选择</option>
                                        <foreach name="factory" item="vo">
                                            <option value="{$vo.factory_id}">{$vo.factory_name}</option>
                                        </foreach>
                                    </select>
                                </div>
                            </div>
                             <div class="form-group">
                                <label class="col-sm-2 control-label"><em>*</em>下单日期</label>
                                <div class="col-sm-4">
                                    <input type="text" placeholder="此项必须填写" name="redo_date" class="form-control" id="start"  value="">
                                </div>
                            </div>
                            <!-- 工厂结束 -->
                            <div class="form-group">
                                <label class="col-sm-2 control-label"><em>*</em>设计师</label>
                                <div class="col-sm-4">
                                    <select disabled="disabled"  class="form-control m-b" name="order_designer">
                                        <option value="0">请选择</option>
                                        <foreach name="designer" item="vo">
                                            <option value="{$vo.designer_id}">{$vo.designer_name}</option>
                                        </foreach>
                                    </select>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label"><em>*</em>纸样师</label>
                                <div class="col-sm-4">
                                    <select disabled="disabled"  class="form-control m-b" name="order_paper">
                                        <option value="0">请选择</option>
                                        <foreach name="paper" item="vo">
                                            <option value="{$vo.paper_id}">{$vo.paper_name}</option>
                                        </foreach>
                                    </select>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label"><em>*</em>产品款号</label>
                                <div class="col-sm-4">
                                    <input type="text" disabled="disabled" placeholder="此项必须填写" class="form-control" name="order_style_number" value="{$list.order_style_number}">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label"><em>*</em>产品款式</label>
                                <div class="col-sm-4">
                                   <input type="text" disabled="disabled" placeholder="此项必须填写" class="form-control" name="order_category" value="{$list.order_category}">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label"><em>*</em>裁数</label>
                                <div class="col-sm-4">
                                    <input type="text" disabled="disabled" class="form-control" name="order_total" value="">
                                </div>
                            </div>
                        <div class="hr-line-dashed"></div>
<!--                              <div class="form-group">
                                <label class="col-md-2 control-label">货期</label>
                                <div class="col-md-4">
                                    <input type="text" name="order_delivery" disabled="disabled" placeholder="没有可不填" class="form-control" value="{$list.order_delivery}">
                                </div>
                            </div> -->

                            <div class="copy">
                            <div class="hr-line-dashed"></div>
                            <div class="form-group color">
<!--                             <div class="colorbox"> -->
                                <label class="col-sm-2 control-label"><em>*</em>颜色</label>
                                <div class="col-sm-4" style="display: flex;flex-wrap: wrap;">
                                    <select  class="form-control" id="ajaxchange" name="order_color[]">
                                    <option value="0">请选择</option>
                                        <foreach name="color" item="vo">
                                            <option value="{$vo.id}">{:str_repeat('&nbsp;', $vo['level']*4)} {$vo['color_name']}</option>
                                        </foreach>
                                    </select>
                                </div>
                            </div>
<!--                             <div style="color:#666;cursor:default;" onclick="return ajax_get_color(this)">刷新颜色</div>
                                    <div style="float: left;color:#999;cursor:pointer;border: 1px solid #999;border-radius: 15%" onclick="return add_color(this)">增加+</div>
                            </div>  -->       
                            <div class="form-group size">
  <!--                               <div class="sizebox"> -->
                                    <label class="col-sm-2 control-label"><em>*</em>尺码</label>
                                    <div class="col-sm-4">
                                    <select  class="form-control" id="ajaxsize" name="order_size[]">
                                    <option value="0">请选择</option>
                                        <foreach name="size" item="vo">
                                            <option value="{$vo.id}">{:str_repeat('&nbsp;', $vo['level']*4)} {$vo['size_name']}</option>
                                        </foreach>
                                    </select>
                                    </div> 
                                </div>
<!--                                 <div style="color:#666;cursor:default;" onclick="return ajax_get_size(this)">刷新尺码</div>
                                <div style="float: left;color:#999;cursor:pointer;border: 1px solid #999;border-radius: 15%" onclick="return add_size(this)">增加+
                                </div> -->
                            <!-- </div> -->

                            <div class="form-group">
                                <label class="col-sm-2 control-label"><em>*</em>裁床数(件)</label>
                                <div class="col-sm-4">
                                    <input type="text" placeholder="此项必须填写"  class="form-control" name="order_total[]" onblur="return is_new(this)" value="">
                                    <input type="hidden" class="hastype" name="hastype[]" value=""></input>
                                </div>
<!--                                 <div  style="display:none;margin-top: 10px">有该颜色尺码</div>
 -->                            </div>
                             <div class="form-group">
                                <label class="col-sm-2 control-label"></label>
                                <div class="col-sm-4">
                                    <a onclick="return copy_row(this)">[+]</a>
                                </div>
                            </div>
                            </div>
                            <div class="hr-line-dashed"></div>
                            <div class="form-group">
                                <label class="col-md-2 control-label now_num" style="width: 30%">已经添加1颜色</label>
                                <a  class="check" style="margin-left: 5%" onclick="checkall()">点击检查颜色尺码</a>
                                <div style="margin-left: 10%" id="check">
                                </div>
                            </div> 
                            <div class="hr-line-dashed"></div> 
                            <div class="form-group">
                                <label class="col-md-2 control-label">返单备注</label>
                                <div class="col-md-6">
                                    <textarea name="redo_remark" id="text" class="form-control" style="height:120px;"></textarea>
                                </div>
                            </div>    
                         <div class="hr-line-dashed"></div>
 
                            <div class="hr-line-dashed"></div>
                            <div class="form-group">
                                <div class="col-sm-4 col-sm-offset-2">
                                    <button class="btn btn-primary" type="submit">保存内容</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script src="__PUBLIC__/js/jquery.min.js"></script>
    <script src="__PUBLIC__/js/bootstrap.min.js"></script>
    <script src="__PUBLIC__/js/content.min.js"></script>
    <script src="__PUBLIC__/js/plugins/layer/layer.js"></script>
    <script src="__PUBLIC__/js/plugins/layer/laydate/laydate.js"></script>
    <script type="text/javascript">
    $('[name="order_designer"]').val([{$list.order_designer}]);
    $('[name="redo_factory"]').val([{$list.order_factory}]);
    $('[name="order_paper"]').val([{$list.order_paper}]);
     laydate({elem:"#start",event:"focus"});
    function copy_row(obj){
        console.log(1)
        var $tr=$(obj ).parents('.copy');
        if(obj.innerHTML=='[+]'){
            var $clone=$tr.clone();
            $clone.find('a' ).html('[-]');
            var $last=$('.copy:last');
            $last.after($clone);
            var num=$('.copy').size();
            $('.now_num').html('当前添加'+num+'种');
        }else{
            if(confirm('确定删除吗?')){
                var val=$tr.find($('input[name="order_total[]"]')).val();
                val=parseInt(val);
                var total=$('input[name="order_total"]').val();
                total=parseInt(total);
                total-=val;
                $('input[name="order_total"]').val(total);
                $tr.remove();
                var num=$('.copy').size();
                $('.now_num').html('当前添加'+num+'种');

            }
        }
    }
    function is_new(obj){
        //console.log($(obj).parents('.copy').find('#ajaxchange').val());
        var size=$(obj).parent().parent().prev('.size').find('#ajaxsize').val();
        var color=$(obj).parents('.copy').find('#ajaxchange').val();
        var data=$('input[name="order_total[]"]');
        var total=0;
        $(data).each(function(k,v){
            total+=parseInt($(v).val());
            //console.log($(v).val())
        })
        $('input[name="order_total"]').val(total);
        $.post("{:U('/Admin/Order/ajaxredo')}",{order_id:{$list.order_id},size:size,color:color},function(data){
            console.log('data'+data);
            if(data!=null){
                $(obj).siblings('.hastype').val(data);
                //$(obj).parent().next().show();
            }else{
                $(obj).siblings('.hastype').val('');
                //$(obj).parent().next().html('无该颜色尺码');
                //$(obj).parent().next().show();
            }
        })
    }
    function checkall()
    {
        $('#check').empty();
        $('.copy').each(function(k,v){
            color=$.trim($(v).find($('select[name="order_color[]"]')).find('option:selected').text());
            size=$(v).find($('select[name="order_size[]"]')).find('option:selected').text();
            num=$(v).find($('input[name="order_total[]"]')).val();
            var str='</br>颜色:'+color+'|尺码:'+size+'|裁数:'+num;
            $('#check').append(str)
        })

    }


    
    </script>
</body>
</html>