<!DOCTYPE html>
<html>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>恩赐方后台管理</title>
    <link rel="shortcut icon" href="favicon.ico"> <link href="__PUBLIC__/css/bootstrap.min.css" rel="stylesheet">
    <link href="__PUBLIC__/css/font-awesome.min.css" rel="stylesheet">
    <link href="__PUBLIC__/css/animate.min.css" rel="stylesheet">
    <link href="__PUBLIC__/css/style.min.css" rel="stylesheet">
</head>
<body class="gray-bg">
    <div class="wrapper wrapper-content animated fadeInRight">
        <div class="row">
            <div class="col-sm-12">
                <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <h5>修改保险订单状态</h5>
                    </div>
                    <div class="ibox-content">
                        <form method="post" class="form-horizontal" action="{:U('order/editOrdProduct')}">
                            <input type="hidden" name="id" value="{$data.id}">
                            <div class="form-group">
                                <label class="col-sm-2 control-label">订单号</label>

                                <div class="col-sm-10">
                                    <p class="form-control-static">{$data.order_sn}</p>
                                </div>
                            </div>
                            <div class="hr-line-dashed"></div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label">保单号:</label>

                                <div class="col-sm-10">
                                    <input type="text" class="form-control" name="order_number" value="{$data.order_number}">
                                </div>
                            </div>
                            <div class="hr-line-dashed"></div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label">被保人姓名:</label>

                                <div class="col-sm-10">
                                    <input type="text" class="form-control" name="level_name" value="{$data.level_name}">
                                </div>
                            </div>
                            <div class="hr-line-dashed"></div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label">投保人姓名:</label>

                                <div class="col-sm-10">
                                    <input type="text" class="form-control" name="toubao_name" value="{$data.toubao_name}">
                                </div>
                            </div>
                            <div class="hr-line-dashed"></div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label">客户姓名</label>

                                <div class="col-sm-10">
                                    <input type="text" class="form-control" disabled="disabled" name="username" value="{$data.user.realname}">
                                </div>
                            </div>
                            <div class="hr-line-dashed"></div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label">联系方式</label>

                                <div class="col-sm-10">
                                    <input type="text" class="form-control" disabled="disabled" name="mobile" value="{$data.user.mobile}">
                                </div>
                            </div>
                            <div class="hr-line-dashed"></div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label">保险名称</label>

                                <div class="col-sm-10">
                                    <select class="form-control m-b" disabled="disabled" name="product_id">
                                        <option value="0">请选择</option>
                                        <foreach name="product" item="vo">
                                            <option value="{$vo.id}" <if condition="$vo['id'] eq $data['product_id']">selected</if>>{$vo.title}({$vo.category.cname})</option>
                                        </foreach>
                                    </select>
                                </div>
                            </div>
                            <div class="hr-line-dashed"></div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label">保费</label>

                                <div class="col-sm-10">
                                    <input type="text" class="form-control" name="premium" value="{$data.premium}">
                                </div>
                                <div class="sel_premium" style="margin-left: 20%">
<!--                                     <input type="radio" name="premiu" data=0>haha</input>
                                    <input type="radio" name="premiu" data=0>hege</input> -->
                                </div>
                            </div>
                            <div class="hr-line-dashed"></div>
                            <div class="form-group">
<label class="col-sm-2 control-label">生效时间</label>
                                <div class="col-sm-4">
                                    <input type="text" name="insure_time" class="form-control layer-date" id="insure_time" placeholder="生效时间" value="<if condition="$data['insure_time']">{$data.insure_time|date='Y-m-d',###}</if>">
                                </div>
                                <label class="col-sm-2 control-label">到期时间</label>
                                <div class="col-sm-4">
                                    <input type="text" name="out_time" class="form-control layer-date" id="out_time" placeholder="到期时间" value="<if condition="$data['out_time']">{$data.out_time|date='Y-m-d',###}</if>">
                                </div>
                            </div>
                            <div class="hr-line-dashed"></div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label">被保人</label>
                                <div class="col-sm-10">
                                    <label class="radio-inline">
                                        <input type="radio" name="level" id="inlineRadio1" disabled="disabled" value="1" <if condition="$data['level'] eq 1">checked</if>> 宝爸
                                    </label>
                                    <label class="radio-inline">
                                        <input type="radio" name="level" id="inlineRadio2" disabled="disabled"  value="2" <if condition="$data['level'] eq 2">checked</if>> 宝妈
                                    </label>
                                    <label class="radio-inline">
                                        <input type="radio" name="level" id="inlineRadio2" disabled="disabled" value="3" <if condition="$data['level'] eq 3">checked</if>> 宝宝
                                    </label>
                                     <label class="radio-inline">
                                        <input type="radio" name="level" id="inlineRadio2" disabled="disabled" value="4" <if condition="$data['level'] eq 4">checked</if>> 宝宝2
                                    </label>
                                     <label class="radio-inline">
                                        <input type="radio" name="level" id="inlineRadio2" disabled="disabled" value="5" <if condition="$data['level'] eq 5">checked</if>> 宝宝3
                                    </label>   
                                    <label class="radio-inline">
                                        <input type="radio" name="level" id="inlineRadio1" disabled="disabled" value="11" <if condition="$data['level'] eq 11">checked</if>> 其他
                                    </label>                                                                     
                                </div>
                            </div>

                            <div class="hr-line-dashed"></div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label">状态</label>
                                <div class="col-sm-10">
                                    <?php echo safeStatus($data['out_time'], $data['status']); ?>
                                </div>
                            </div>
                            <div class="hr-line-dashed"></div>
                            <div class="form-group">
                                <div class="col-sm-4 col-sm-offset-2">
                                    <button class="btn btn-primary" type="submit">保存内容</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="__PUBLIC__/js/jquery.min.js"></script>
    <script src="__PUBLIC__/js/bootstrap.min.js"></script>
    <script src="__PUBLIC__/js/content.min.js"></script>
    <script src="__PUBLIC__/js/plugins/layer/laydate/laydate.js"></script>
    <script type="text/javascript">
	laydate({elem:"#insure_time",event:"focus"});
    laydate({elem:"#out_time",event:"focus"});
    $('input[name="level"]').click(function(){
        if($('.mypre')){
            $('.mypre').remove();
        }
        var val=$('input:radio[name="level"]:checked').val();
        var id='{$data.id}';
        var rid='{$data.report_id}'; 
            $.get("{:U('/Admin/Order/ajax_premium')}",{id:id,level:val},function(data){
                console.log(data);
                if(typeof data=='string' || data==''){
                    $('input[name="premium"]').val(data);
                }else{
                    var list='<div class="mypre">';
                    $.each(data,function(i,n){
                        if(n.id == rid){
                            list+= '<input type="radio" onclick="sel_premium(this)" checked item='+n.premium+' name="premiu" data='+n.id+'>'+n.premium+'</input>';
                            $('input[name="premium"]').val(n.premium);
                        }else{
                            list+= '<input type="radio" onclick="sel_premium(this)"  item='+n.premium+' name="premiu" data='+n.id+'>'+n.premium+'</input>'
                        }     
                    })
                    list+='</div>';
                    $('.sel_premium').append(list);
                }
                
        });
    })

    function sel_premium(obj){
        var val=$(obj).attr('item');
        var report_id=$(obj).attr('data');
        $('input[name="premium"]').val(val);
        $('input[name="report_id"]').val(report_id);
    }
    </script>
</body>
</html>