<!DOCTYPE html>
<html>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>服装管理</title>
    <link rel="shortcut icon" href="favicon.ico"> <link href="__PUBLIC__/css/bootstrap.min.css" rel="stylesheet">
    <link href="__PUBLIC__/css/font-awesome.min.css" rel="stylesheet">
    <link href="__PUBLIC__/css/animate.min.css" rel="stylesheet">
    <link href="__PUBLIC__/css/style.min.css" rel="stylesheet">
    <link href="__PUBLIC__/css/fileupload/jquery.fileupload-ui.css" rel="stylesheet">
    <link href="__PUBLIC__/css/fileupload/jquery.fileupload.css" rel="stylesheet">
    <style type="text/css">
/*    #thelist{overflow:hidden;}
    .btns{clear:both;}*/
    #album-list{ padding: 20px 0px 20px  0%;}
    #album-list li{float: left; width: 20%;text-align: center;border:1px solid #ccc;max-height: 200px;overflow: hidden;margin-right: 10px;border-radius: 5px;padding:10px;}
    #album-list li img{width: 100%;max-height: 150px;}
    #album-list li p{ padding: 10px 0px;}
    .mydiv {margin: 0 10px 0 10px;width: 10%;float: left;}
    em{color: red};
    </style>
    <script src="__PUBLIC__/js/jquery.min.js"></script>
    <script src="__PUBLIC__/js/bootstrap.min.js"></script>
    <script src="__PUBLIC__/js/content.min.js"></script>
    <script src="__PUBLIC__/js/plugins/layer/layer.js"></script>
    <script src="__PUBLIC__/js/plugins/layer/laydate/laydate.js"></script>
 
    <script type="text/javascript">
        $(function(){
         var num=$('.copy').size(); 
         $('.now_num').html('共'+num+'种颜色');
         //JS获取上传文件的绝对路径

        })
    </script>
</head>
<body class="gray-bg">
    <div class="wrapper wrapper-content animated fadeInRight">
        <div class="row">
            <div class="col-sm-12">
                <div class="ibox float-e-margins">
                    <div class="ibox-title" >
                        <h5>查看订单详情
                    </div>
                    <div class="ibox-content">
                        <form method="post" class="form-horizontal" id="masterForm" action="?" enctype="multipart/form-data" >
<!--                             <div class="form-group">
                                <label class="col-sm-2 control-label">工厂</label>
                                <div class="col-sm-4">
                                <input type="text" disabled="disabled" style="background-color: #FFF;border:none;" class="form-control" name="order_style_number" value="{$list.factory_name}">
                                </div>
                            </div>
                             <div class="form-group">
                                <label class="col-sm-2 control-label">设计师</label>
                                <div class="col-sm-4">
                                    <input type="text" style="background-color: #FFF;border:none;" disabled="disabled" placeholder="此项必须填写" class="form-control" name="order_designer" value="{$list.designer.designer_name}">
                                </div>
                            </div>
                             <div class="form-group">
                                <label class="col-sm-2 control-label">纸样师</label>
                                <div class="col-sm-4">
                                    <input type="text" style="background-color: #FFF;border:none;" disabled="disabled" placeholder="此项必须填写" class="form-control" name="order_paper" value="{$list.paper.paper_name}">
                                </div>
                            </div>                            
                            <div class="form-group">
                                <label class="col-sm-2 control-label">产品款号</label>
                                <div class="col-sm-4">
                                    <input type="text" style="background-color: #FFF;border:none;" disabled="disabled" placeholder="此项必须填写" class="form-control" name="order_style_number" value="{$list.order_style_number}">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label">产品款式</label>
                                <div class="col-sm-4">
                                   <input type="text" style="background-color: #FFF;border:none;" disabled="disabled" placeholder="此项必须填写" class="form-control" name="order_category" value="{$list.order_category}">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label">下单日期</label>
                                <div class="col-sm-4">
                                    <input type="text" style="background-color: #FFF;border:none;" disabled="disabled" placeholder="此项必须填写" name="order_date" class="form-control" id="start"  value="{$list.order_date}">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label">裁数</label>
                                <div class="col-sm-4">
                                    <input type="text" style="background-color: #FFF;border:none;" disabled="disabled" class="form-control" name="order_total" value="{$list.order_total}">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label"><em>*</em>面辅料成本</label>
                                <div class="col-sm-4">
                                    <input type="text" style="background-color: #FFF;border:none;" class="form-control" disabled="disabled" value="{$list.order_mfmoney}">
                                </div>
                            </div>  
                             <div class="form-group">
                                <label class="col-sm-2 control-label"><em>*</em>加工费</label>
                                <div class="col-sm-4">
                                    <input type="text" style="background-color: #FFF;border:none;" class="form-control" disabled="disabled" value="{$list.order_fmoney}">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label"><em>*</em>总成本</label>
                                <div class="col-sm-4">
                                    <input type="text" style="background-color: #FFF;border:none;"  class="form-control" disabled="disabled" value="{$list.order_allmoney}">
                                </div>
                            </div> -->
                            <!--上部分-->
                         <foreach name="detail" item="vo">   
                            <div class="copy">
                            <div class="hr-line-dashed"></div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label"><em>*</em>颜色:</label>
                                <div class="col-sm-4" style="margin-top: 5px">
                                    <span >{$vo[0]['detail_color']}</span>  
                                </div> 
                            </div>  
                            <div class="form-group">
                            <div>
                                <div style="margin: 0 10px 0 198px;width: 10%;float: left">尺码</div> <div class="mydiv">已经出货</div>
                            <div class="mydiv">库存</div>
                            </div>

                            <foreach name="vo" item="voo">
                            </br>
                            <div style="margin: 0 10px 0 203px;width: 10%;float: left">{$voo.detail_size}</div> <div class="mydiv">{$voo.detail_alltotal}</div>
                            <div class="mydiv">{$voo.detail_notout}</div>
<!--                             <div class="mydiv">{$voo.detail_stock}</div>          
 -->                            </foreach>   
                            </div>
                            </div> 
                            </foreach>
                            <div class="hr-line-dashed"></div>
                            <div class="form-group">
                                <label class="col-md-2 control-label now_num">共0种颜色</label>
                                <label class="col-sm-2 control-label"></label>
                                <a href="/Admin/Order/dateDetail/order_id/{$list.order_id}">查看出货详情</a>
                                <span>|</span>
                                <a style="margin-left: 10px" href="/Admin/Order/redoRecord/order_id/{$list.order_id}">查看返单记录</a>

                            </div> 
                            <div class="hr-line-dashed"></div> 
                            <div class="form-group">
                                <label class="col-md-2 control-label">订单备注</label>

                                <div class="col-md-10">
                                    <textarea name="order_remarks"  style="background-color: #FFF;border:none;" disabled="disabled" id="text" class="form-control" style="height:120px;">{$list.order_remarks}</textarea>
                                </div>
                            </div>    
                         <div class="hr-line-dashed"></div>
                         <!-- 图片添加 -->
                           <div class="form-group">
<!--                                 <label class="col-md-2 control-label">图片</label>
                                <input name="img"  type="file" ></input>
                            </div>  
                            <div class="form-group showimg">
                                <div class="col-md-4">
                    <img style="margin-left: 53%" src="/Public/uploads/Order/{$list.order_pic}" />
                                </div>
                            </div> -->
                            <label class="col-md-2 control-label">图片</label>
<div class="row fileupload-buttonbar" style="padding-left:15px;">  
<div class="thumbnail col-sm-6">  
<img id="weixin_show" style="height:280px;margin-top:10px;margin-bottom:8px;"  src="{$list.order_pic}" data-holder-rendered="true">  
  
</div>  
</div> 


                            <div class="form-group">
                                <label class="col-md-2 control-label">添加时间</label>
                                <div class="col-md-4">
                                    <input type="text" disabled="readonly" name="order_addtime" class="form-control" value="{:date('Y-m-d H:i:s',$list['order_addtime'])}">
                                </div>
                            </div>    
                            <div class="hr-line-dashed"></div>
                            <div class="form-group">
                                <div class="col-sm-4 col-sm-offset-2">
                                   <!--  <button class="btn btn-primary" type="submit">保存内容</button> -->
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script type="text/javascript">
    $('[name="order_zhensuo"]').val([{$list.order_zhensuo}]);
    $('[name="order_xiuyin"]').val([{$list.order_xiuyin}]);
     laydate({elem:"#start",event:"focus"});
    function getfilepath(obj){
        $('.showimg').hide();
    }
    function ajax_upload(){
        $('.masterForm').submit();
    }
    function cancleUpload(obj){
        //console.log()
        var path=$('#weixin_show').attr('src');
        $.post("{:U('/Admin/Order/delimg')}",{path:path},function(data){
            if(data==1){
                layer.msg('删除成功');
                $('#weixin_show').attr('src',"{$list.order_pic}");
                $("#weixin_upload").css({display:""});  
                $("#weixin_cancle").css({display:"none"}); 
                $('#imgpath').val('');
            }else{
                layer.msg('删除失败,请重试');
            }
        })
    } 


    </script>
</body>
</html>