<!DOCTYPE html>
<html>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>服装管理</title>
    <link rel="shortcut icon" href="favicon.ico"> <link href="__PUBLIC__/css/bootstrap.min.css" rel="stylesheet">
    <link href="__PUBLIC__/css/font-awesome.min.css" rel="stylesheet">
    <link href="__PUBLIC__/css/animate.min.css" rel="stylesheet">
    <link href="__PUBLIC__/css/style.min.css" rel="stylesheet">
    <style type="text/css">
    #album-list{ padding: 20px 0px 20px  0%;}
    #album-list li{float: left; width: 20%;text-align: center;border:1px solid #ccc;max-height: 200px;overflow: hidden;margin-right: 10px;border-radius: 5px;padding:10px;}
    #album-list li img{width: 100%;max-height: 150px;}
    #album-list li p{ padding: 10px 0px;}
    em{color: red};

    </style>
</head>
<body class="gray-bg">
    <div class="wrapper wrapper-content animated fadeInRight">
        <div class="row">
            <div class="col-sm-12">
                <div class="ibox float-e-margins">
                    <div class="ibox-title" >
                        <h5>添加销售记录
                    </div>
                    <div class="ibox-content">
                        <form method="post" class="form-horizontal" id="masterForm" action="?" enctype="multipart/form-data" >
                        <input type="hidden" name="sale_user_id" value='{$Think.session.username}'></input>
                        <div class="form-group">
                                <label class="col-sm-2 control-label"><em>*</em>门店</label>
                                <div class="col-sm-4">
                                    <select  class="form-control m-b" name="sale_store">
                                        <option value="0">请选择</option>
                                        <foreach name="store" item="vo">
                                            <option value="{$vo.store_id}">{$vo.store_name}</option>
                                        </foreach>
                                    </select>
                                </div>
                            </div>
                            <!-- 订单工厂 -->
                            <div class="form-group append">
                                <label class="col-sm-2 control-label"><em>*</em>产品款号</label>
                                <div class="col-sm-4">
                                     <input type="text" placeholder="此项必须填写"  class="form-control" onblur="sel_detail(this)">
                                </div>     
                            </div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label"><em>*</em>本次销售数量</label>
                                <div class="col-sm-4">
                                    <input type="text" placeholder="请填写销售数量"  name="sale_quantity" class="form-control"   value="{$list.sale_quantity}">
                                </div>
                            </div> 
                            
                            <div class="form-group">
                                <label class="col-sm-2 control-label"><em>*</em>客户</label>
                                <div class="col-sm-4">
                                    <input type="text" placeholder="格式:地址+姓名;如:广州张先生"  name="sale_custom" class="form-control"   value="{$list.sale_custom}">
                                </div>
                            </div> 
 
                            
                            <div class="form-group">
                                <label class="col-sm-2 control-label"><em>*</em>出货日期</label>
                                <div class="col-sm-4">
                                    <input type="text" placeholder="此项必须填写" name="sale_date" class="form-control" id="start"  value="{$list.sale_date}">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label">销售备注</label>
                                <div class="col-sm-4">
                                    <input type="text"  name="sale_remark" class="form-control"   value="{$list.sale_remark}">
                                </div>
                            </div> 
<!--                             <div class="form-group">
                                <label class="col-md-2 control-label">添加记录时间</label>
                                <div class="col-md-4">
                                    <input type="text" readonly="readonly"  name="sale_addtime" class="form-control"  value="{$date}" >
                                </div>
                            </div>  -->  
                            <div class="hr-line-dashed"></div>
                            <div class="form-group">
                                <div class="col-sm-4 col-sm-offset-2">
                                    <button class="btn btn-primary" type="submit">保存内容</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="__PUBLIC__/js/jquery.min.js"></script>
    <script src="__PUBLIC__/js/bootstrap.min.js"></script>
    <script src="__PUBLIC__/js/content.min.js"></script>
    <script src="__PUBLIC__/js/plugins/layer/layer.js"></script>
    <script src="__PUBLIC__/js/plugins/layer/laydate/laydate.js"></script>
    <script type="text/javascript">
    $('[name="order_factory"]').val({$list.order_factory});

     laydate({elem:"#start",event:"focus"});
    function copy_row(obj){
        var $tr=$(obj ).parents('.copy');
        if(obj.innerHTML=='[+]'){
            var $clone=$tr.clone(true);
            $clone.find('a' ).html('[-]');
            var $last=$('.copy:last');
            $last.after($clone);
            var num=$('.copy').size();
            $('.now_num').html('当前添加'+num+'颜色');
        }else{
            if(confirm('确定删除吗?')){
                $tr.remove();
                var num=$('.copy').size();
                $('.now_num').html('当前添加'+num+'颜色');

            }
        }
    }
    function sel_detail(obj){
        if($('.add')){
            $('.add').remove();
        }
         $.post("{:U('/Admin/Sale/sel_detail')}",{style_id:obj.value},function(data){
            if(data=='error'){
                alert('没有找到该款式,请确认');
                return false;
            }
            if($('.selbox')){
                $('.selbox').remove();
            }
            $('.append').after(data);
        });
    }
    </script>
</body>
</html>